In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm
pd.set_option('display.max_rows',1000)
from datetime import datetime
from kmodes.kprototypes import KPrototypes
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline
plt.style.use('seaborn')
import seaborn as sns
matplotlib.rcParams['font.family']='Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus'] = False
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler

from sklearn.cluster import KMeans

# Import module for data visualization
from plotnine import *
import plotnine
# Import module for k-protoype cluster

import warnings
warnings.filterwarnings('ignore', category = FutureWarning)
# Format scientific notation from Pandas
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# 데이터 불러오기

In [2]:
# 군집 이동 데이터 불러오기
df = pd.read_csv('data/cluster/clust_1st_7_비인도데프.csv')
df

,id,2017_1Q,2017_2Q,2017_3Q,2017_4Q,2018_1Q,2018_2Q,2018_3Q,2018_4Q,2019_1Q,2019_2Q,2019_3Q,2019_4Q,2020_1Q,2020_2Q,2020_3Q,2020_4Q,2021_1Q,2021_2Q
0,경기도 고양덕양구 고양동_고양동우방유쉘아파트_60,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2
1,경기도 고양덕양구 고양동_고양동우방유쉘아파트_85,2,2,2,2,2,2,2,1,2,2,2,2,2,2,2,2,2,2
2,경기도 고양덕양구 고양동_삼성_60,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3,경기도 고양덕양구 고양동_삼성_85,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2
4,경기도 고양덕양구 고양동_윤창_59,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21122,인천광역시 중구 항동7가_라이프비취2차_72,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
21123,인천광역시 중구 항동7가_라이프비취3차_126,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
21124,인천광역시 중구 항동7가_라이프비취3차_164,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,2
21125,인천광역시 중구 항동7가_라이프비취3차_85,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
21126,인천광역시 중구 항동7가_연안아파트_54,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [3]:
# id 따로 빼기
df_id = df.id

# 데이터프레임에서 id 제거
df = df.drop('id', axis=1)
df

,2017_1Q,2017_2Q,2017_3Q,2017_4Q,2018_1Q,2018_2Q,2018_3Q,2018_4Q,2019_1Q,2019_2Q,2019_3Q,2019_4Q,2020_1Q,2020_2Q,2020_3Q,2020_4Q,2021_1Q,2021_2Q
0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2
1,2,2,2,2,2,2,2,1,2,2,2,2,2,2,2,2,2,2
2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2
4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21122,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
21123,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
21124,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,2
21125,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
21126,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

# 패턴 파악하기

In [4]:
from collections import deque

# 패턴 컬럼 추가
df['pattern'] ='nan'
for i in range(df.shape[0]):
    sample = deque(df.iloc[i].values)
    sample = deque(map(str, sample))
    sample.pop()
    pocket = []
    pocket.append(sample.popleft())
    while sample:
        sp = sample.popleft()
        if sp == pocket[-1]:
            continue
        else:
            pocket.append(sp)
    p = '-'.join(pocket)
    df.loc[i, 'pattern'] = p
df

,2017_1Q,2017_2Q,2017_3Q,2017_4Q,2018_1Q,2018_2Q,2018_3Q,2018_4Q,2019_1Q,2019_2Q,2019_3Q,2019_4Q,2020_1Q,2020_2Q,2020_3Q,2020_4Q,2021_1Q,2021_2Q,pattern
0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,1-2
1,2,2,2,2,2,2,2,1,2,2,2,2,2,2,2,2,2,2,2-1-2
2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,1-2
4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21122,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
21123,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
21124,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,2,1-2
21125,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
21126,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [5]:
# pattern 컬럼 추가
df= pd.concat([df_id, df], axis=1)
df

,id,2017_1Q,2017_2Q,2017_3Q,2017_4Q,2018_1Q,2018_2Q,2018_3Q,2018_4Q,2019_1Q,2019_2Q,2019_3Q,2019_4Q,2020_1Q,2020_2Q,2020_3Q,2020_4Q,2021_1Q,2021_2Q,pattern
0,경기도 고양덕양구 고양동_고양동우방유쉘아파트_60,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,1-2
1,경기도 고양덕양구 고양동_고양동우방유쉘아파트_85,2,2,2,2,2,2,2,1,2,2,2,2,2,2,2,2,2,2,2-1-2
2,경기도 고양덕양구 고양동_삼성_60,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3,경기도 고양덕양구 고양동_삼성_85,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,1-2
4,경기도 고양덕양구 고양동_윤창_59,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21122,인천광역시 중구 항동7가_라이프비취2차_72,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
21123,인천광역시 중구 항동7가_라이프비취3차_126,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
21124,인천광역시 중구 항동7가_라이프비취3차_164,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,2,1-2
21125,인천광역시 중구 항동7가_라이프비취3차_85,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
21126,인천광역시 중구 항동7가_연안아파트_54,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1


---


# 패턴 검색

In [6]:
# 2차 군집 포함한 마스터테이블 불러오기
df2 = pd.read_csv('data/cluster/2차군집8_비인도데프.csv')

In [7]:
# 패턴 검색 함수
def go(df):
    vc =df.pattern.value_counts()
    print('패턴 수: ', vc.shape)
    print(vc)
    key1 = input('검색하고 싶은 패턴')
    print(df[df.pattern == key1].id.tolist())
    key2 = input('검색할 id')
    display(df2[df2.id==key2])

In [18]:
# 함수 실행
go(df)

패턴 수:  (378,)
1                              3388
2-4                            3287
4-5                            2595
1-2                            1406
5-6                            1149
2                              1104
2-4-5                           713
4-5-6                           563
2-1-2                           451
4-5-4-5                         430
2-4-2-4                         422
6-7                             384
1-2-1-2                         332
4                               271
3-2-4                           239
5-6-5-6                         226
2-1-2-1-2                       212
2-4-2-4-5                       192
3-4-5                           171
4-2-4-5                         157
1-3                             125
2-1-2-4                          98
7                                98
3-5-6                            96
1-2-1-2-1-2                      95
4-5-4-5-6                        89
5-6-7                            87
2-3-2-4                          86
6-7-6-7                          84
1-2-3                            78
1-2-4                            78
5                                75
6                                74
2-4-2-4-2-4                      72
4-2-4                            72
4-3-4-5                          70
2-1-2-1-2-1-2                    64
2-4-5-4                          61
2-4-2                            61
2-3-4                            60
1-2-1                            58
3-2-4-5                          53
3-2                              51
4-5-4                            50
3                                46
3-4                              44
2-4-5-4-5                        42
2-4-3-4                          41
4-2-4-2-4                        40
3-5                              40
4-2-4-2-4-5                      39
2-3                              39
5-4-5-6                          37
4-5-6-5                          32
4-5-4-5-4-5                      31
1-2-1-2-1-2-1-2                  29
2-4-2-4-2-4-5                    29
1-2-1-2-3                        26
2-3-2                            26
5-6-5-6-5-6                      25
2-4-3-4-5                        22
2-1-2-1-2-4                      22
4-5-6-5-6                        22
1-2-1-2-4                        20
3-4-5-6                          19
1-3-2                            18
2-4-2-4-5-4                      17
3-2-4-2-4                        17
2-4-3                            16
5-4-5                            15
3-4-2-4-5                        15
4-5-4-5-6-5                      15
6-7-6                            14
1-3-1-3                          14
1-2-3-4                          14
4-3-4                            14
4-2-4-5-4                        13
1-2-3-2                          13
3-5-6-5-6                        12
5-6-5                            12
1-2-3-2-3-4                      11
3-1-2                            11
1-3-2-4                          11
4-2-4-2-4-2-4                    11
2-1-2-1-2-1-2-1-2                11
3-4-5-4-5                        10
6-5-6                            10
5-6-7-6                          10
1-2-3-2-3                        10
3-2-3-4                          10
2-1                              10
1-2-1-3                           9
3-2-3-2-4                         9
4-5-3-5                           9
2-4-2-4-2-4-2-4                   9
5-6-7-6-7                         9
1-3-2-3                           9
5-4-5-4-5                         9
1-2-1-2-1                         8
2-3-4-5                           7
2-3-2-3-2-4                       7
2-4-2-4-2-4-5-4                   7
5-6-5-6-7                         7
6-7-6-7-6-7                       7
3-2-3                             7
4-3-5                             7
3-2-1-2-4                         7
2-3-2-3                           6
2-3-2-4-5                         6
3-1-2-4                           6
3-4-2-4                           6
2-4-2-4-3-4                       5
1-2-1-2-1-2-1-2-1-2               5
3-4-3-4-5                         5
3-2-4-2                           5
5-4-5-4-5-6                       5
3-5-4-5                           5
3-5-6-7                           5
2-1-2-3                           4
2-1-2-1-2-3-2                     4
2-3-2-4-2-4                       4
1-2-4-2                           4
3-2-1-2                           4
2-4-2-4-3-4-5                     4
3-4-5-4                           4
5-3-5-6                           4
2-1-2-1-2-1-2-4                   4
3-2-4-2-4-5                       4
2-3-2-3-4                         4
5-6-5-6-7-6                       4
2-3-4-2-4                         4
3-1-2-1-2                         4
2-1-2-3-2-4                       4
1-3-1-3-2                         4
2-1-2-1                           4
2-1-2-4-2                         4
2-1-3-2-4                         4
3-1-3-1-2                         3
1-3-1-2                           3
4-2-4-5-4-5                       3
3-2-4-5-4                         3
1-2-1-2-3-4                       3
4-2-4-2-4-5-4                     3
4-2-4-3-4-5                       3
2-4-2-3-4-5                       3
2-1-2-3-2                         3
1-2-1-2-3-2-3                     3
2-4-3-5                           3
1-3-1-3-2-4                       3
1-2-4-2-4                         3
4-5-4-5-4-5-4-5                   3
3-2-4-5-4-5                       3
1-2-1-2-1-2-4                     3
3-6                               3
4-3-4-5-4-5                       3
2-3-2-4-3-4                       3
1-2-4-3-4                         3
7-6-7                             3
2-1-2-3-4                         2
2-3-4-3-4                         2
2-3-2-3-4-3                       2
1-2-1-2-4-2                       2
3-1-3                             2
3-6-5-6                           2
4-2-3-2-4                         2
3-2-4-3-4-5                       2
5-4                               2
4-2-4-2-4-5-4-5                   2
3-4-3-4-3                         2
3-1-3-2-4                         2
1-3-4                             2
4-5-4-5-4-5-3-5                   2
3-2-4-3-4                         2
7-6-7-6-7                         2
4-3-4-3-5                         2
5-4-5-6-5                         2
2-3-5                             2
2-4-2-4-5-4-5                     2
1-2-3-2-3-4-3                     2
4-3-5-6                           2
2-4-2-4-2-4-3-4                   2
4-2-5                             2
5-4-5-6-5-6                       2
4-3                               2
3-4-2-4-2-4                       2
2-3-1-3-2                         2
1-2-1-2-1-2-3                     2
3-4-5-4-5-6-5                     2
6-5-6-5-6                         2
3-2-4-3                           2
2-1-3-2                           2
4-5-4-5-6-5-6                     2
3-2-3-4-5                         2
2-4-2-4-2-4-2-4-5                 2
2-1-2-1-2-1-2-1-2-1-2             2
6-5-6-7                           2
4-5-4-5-4-5-4-5-6                 2
3-2-3-2-4-5                       2
1-2-1-2-1-2-3-4                   2
1-2-1-2-4-2-4                     2
1-2-3-2-4                         2
4-3-4-5-4                         2
4-5-3                             2
3-4-3-4                           2
4-3-4-3-4-5                       2
4-2-4-2-4-2-4-5                   2
4-2-4-2-4-2-4-2-4                 2
3-1-2-3                           2
3-4-3-5                           1
3-4-5-6-5                         1
3-1-3-1-3                         1
4-2-4-2-4-2-4-3-4                 1
3-2-4-3-2-4-3-4-5                 1
5-4-5-4-5-4-5                     1
3-1-3-2                           1
3-4-3-4-3-4-5                     1
1-3-2-3-4                         1
3-2-4-3-5                         1
5-6-5-7                           1
2-4-3-4-3-4-3-4-3-4               1
3-2-1-2-1-2-4                     1
1-3-4-3                           1
3-1-3-2-3                         1
3-2-1-3-2-4                       1
3-1-2-4-2                         1
4-3-5-6-5                         1
1-3-1                             1
1-2-1-3-2                         1
2-3-4-5-4                         1
2-4-2-4-5-4-5-4-5                 1
2-4-2-3-4                         1
2-3-2-4-2                         1
4-2-4-3-4                         1
1-2-1-2-3-2-4                     1
2-4-3-2-4-5                       1
2-4-2-3-2-4                       1
3-4-2-4-3-4                       1
2-3-2-3-2-4-2-4                   1
4-2-4-2-4-2-4-2-4-2-4             1
3-1-2-3-2-4                       1
2-4-2-4-2                         1
1-2-1-2-1-2-1-2-4                 1
2-1-2-1-2-1-3-2                   1
1-2-1-3-1-3-2                     1
3-4-3-4-3-4-3-4-3                 1
4-6                               1
4-3-4-2-4-5                       1
4-2-4-3-5                         1
4-5-3-5-6                         1
2-3-4-2-3-4-3-4-3                 1
1-2-1-2-1-2-1                     1
1-3-1-3-1-2                       1
3-2-3-2                           1
2-1-3-2-4-2                       1
4-5-3-5-4-5                       1
2-4-3-4-5-4-5                     1
2-4-2-4-2-3-4                     1
1-3-2-1-2-1-2                     1
2-1-2-1-2-3-1-2-3-2-3-2           1
1-2-1-2-1-3-2                     1
1-2-1-2-3-2                       1
1-2-1-2-3-2-3-2-4                 1
3-5-6-7-6-7-6-7                   1
5-6-5-6-5-6-5-6                   1
3-4-5-3-5                         1
2-3-4-3-4-3-4                     1
6-5-6-7-6-7                       1
2-4-2-3-2-4-2-4                   1
4-5-4-3-4-5-4-5                   1
4-2-3-4-5                         1
2-3-2-4-3                         1
3-2-4-2-4-3-4                     1
4-5-6-5-6-5-6                     1
2-3-2-4-3-4-5                     1
2-3-2-3-4-2-4                     1
2-1-2-4-2-4                       1
2-4-3-4-2-3-4-3-4-3-4-5-4-5       1
4-3-2-4-5                         1
3-1-3-4                           1
1-3-2-1-2                         1
2-3-1-2                           1
3-4-3                             1
3-4-2-4-5-4                       1
4-2-3-2-4-2-4-2-4                 1
4-2-4-2                           1
2-3-2-4-2-4-2-4-5                 1
3-5-4-5-6                         1
2-4-2-4-3-5                       1
3-2-4-2-5                         1
4-3-5-4-5-6                       1
3-4-5-3-5-6                       1
4-5-4-5-4                         1
3-5-4-5-4-5-4-6                   1
3-4-5-4-5-6-5-6                   1
1-2-3-2-3-2-3                     1
3-4-5-6-5-6                       1
3-4-5-4-5-4                       1
2-3-2-3-2                         1
2-4-3-4-2-4                       1
4-2-3-2-4-3-4-5                   1
5-4-5-4-5-4-5-4-5                 1
4-5-4-5-4-5-6                     1
2-4-3-4-3-4-3                     1
4-2-3-4-2-4-3-4-2-4               1
2-4-2-4-2-4-2-4-2-4               1
4-5-4-5-3                         1
2-3-2-3-2-3-2-4                   1
5-3-5                             1
3-2-1-2-1-2-1-2                   1
2-4-2-4-2-4-3-4-5                 1
3-4-2-4-2-4-2-4-5                 1
4-3-2-4-2-4-2-4                   1
1-3-1-2-4                         1
4-5-4-3                           1
3-5-6-5-6-5-6                     1
1-2-3-2-3-2                       1
4-3-4-5-6                         1
3-1-3-1-2-4                       1
3-2-3-2-3-4-5                     1
2-3-4-2-3-4-5                     1
2-3-2-4-2-3-4-2-4                 1
1-2-1-3-2-3                       1
4-6-5-6                           1
2-3-4-2-4-2-4-3-4-3-4             1
1-3-1-2-3                         1
1-3-2-3-2-3                       1
1-2-1-3-1-3                       1
2-4-5-4-5-4                       1
4-2-4-3-4-5-4-5                   1
2-3-2-4-2-4-5-4                   1
1-2-1-2-3-4-3                     1
2-3-1-3                           1
2-1-3-2-1-2                       1
3-5-3-5                           1
2-1-3-1-2                         1
1-2-1-2-1-2-3-2                   1
3-2-3-2-3-4-3                     1
3-1-3-4-3                         1
3-4-5-4-5-4-5-6                   1
3-4-3-4-3-4-5-4-5                 1
2-4-3-4-2-4-5                     1
2-4-2-3-2-4-3-4                   1
4-2-1-2-4                         1
2-1-3-1                           1
4-2-4-3-4-3-4                     1
2-4-3-2-4                         1
5-6-5-6-5                         1
3-6-5-6-5-6                       1
2-1-2-1-3-2                       1
2-3-2-3-2-4-3-4                   1
4-3-4-3-4-3-4-5-4-5               1
2-3-2-3-4-3-4                     1
3-2-1-2-3                         1
2-3-4-3-4-3                       1
4-2                               1
2-1-2-1-2-1-2-3                   1
1-3-1-3-1-3-2                     1
3-1-3-2-3-2-4                     1
6-7-6-7-6-7-6-7                   1
1-2-1-2-3-2-3-2-3                 1
5-6-3-5-6-7                       1
4-2-4-3-4-2-4                     1
1-2-1-3-4                         1
4-5-4-3-5-6                       1
1-3-5                             1
5-4-5-4                           1
5-3-5-6-5-6                       1
1-3-2-1-2-3-4                     1
4-5-3-4-5                         1
3-5-3-6                           1
2-4-3-4-5-6-5                     1
2-4-3-2-4-2-4                     1
2-3-4-3-4-5-4-3-4-5               1
2-3-2-3-4-5                       1
4-5-4-3-5                         1
3-1-3-2-3-4                       1
3-2-4-2-4-5-4-5                   1
3-4-3-4-5-4-5                     1
Name: pattern, dtype: int64

검색하고 싶은 패턴2-1-2
['경기도 고양덕양구 고양동_고양동우방유쉘아파트_85', '경기도 고양덕양구 고양동_푸른마을6단지_85', '경기도 고양덕양구 관산동_더퍼스트프라임_85', '경기도 고양덕양구 관산동_유승(126)_116', '경기도 고양덕양구 토당동_삼윤_85', '경기도 고양덕양구 토당동_태웅_77', '경기도 고양덕양구 행신동_샘터마을2_60', '경기도 고양덕양구 행신동_햇빛주공23_60', '경기도 고양덕양구 화정동_달빛(라이프)2_60', '경기도 고양덕양구 화정동_달빛마을(부영)2_60', '경기도 고양일산동구 마두동_강촌마을(라이프)_48', '경기도 고양일산동구 마두동_백마마을(쌍용)_51', '경기도 고양일산동구 마두동_백마마을(한성)_51', '경기도 고양일산동구 백석동_백송마을(대우)_59', '경기도 고양일산동구 백석동_백송마을(두산)_60', '경기도 고양일산동구 백석동_백송마을(삼호)_60', '경기도 고양일산동구 백석동_백송마을(우성)_53', '경기도 고양일산동구 장항동_호수마을(대우)_55', '경기도 고양일산동구 중산동_중산마을10(경남)_74', '경기도 고양일산동구 중산동_중산마을10(경남)_85', '경기도 고양일산동구 중산동_중산마을10(동신)_74', '경기도 고양일산동구 중산동_중산마을6(태영)_73', '경기도 고양일산동구 중산동_중산마을7(코오롱)_102', '경기도 고양일산동구 풍동_성원타운3_60', '경기도 고양일산동구 풍동_숲속마을8단지_52', '경기도 고양일산동구 풍동_일산풍동5차성원상떼빌_60', '경기도 고양일산서구 가좌동_가좌마을1단지양우_85', '경기도 고양일산서구 가좌동_가좌마을2단지대우_74', '경기도 고양일산서구 가좌동_청원벽산블루밍3단지_85', '경기도 고양일산서구 대화동_양우파크타운_60', '경기도 고양일산서구 대화동_장성마을(동부)_53', '경기도 고양일산서구 일산동_에이스10차_106', '경기도 고양일산서구 일산동_에이스10차_121', '경기도 고양일산서구 일산동_일산삼성_85', '경기도 고양일산서구 일산동_일신휴먼빌(1655)_71', '경기도 고양일산서구 일산동_후곡마을(주공)_69', '경기도 고양일산서구 주엽동_강선마을(동성)_48', '경기도 고양일산서구 주엽동_강선마을(동신)_60', '경기도 고양일산서구 주엽동_문촌마을(기산쌍용)_60', '경기도 고양일산서구 주엽동_문촌마을(유승)_58', '경기도 고양일산서구 주엽동_문촌마을부영_50', '경기도 고양일산서구 탄현동_쌍용스윗닷홈_85', '경기도 고양일산서구 탄현동_일산 임광진흥 아파트_60', '경기도 고양일산서구 탄현동_큰마을대림,현대아파트_85', '경기도 고양일산서구 탄현동_탄현마을(건영5)_69', '경기도 고양일산서구 탄현동_탄현마을(동문)_71', '경기도 고양일산서구 탄현동_탄현마을(한신)_69', '경기도 고양일산서구 탄현동_탄현마을(현대)_85', '경기도 광명시 광명동_광명현대_60', '경기도 광명시 광명동_상우2차_60', '경기도 광명시 광명동_중앙하이츠1_57', '경기도 구리시 수택동_토평주공_47', '경기도 구리시 수택동_하이스트빌_65', '경기도 군포시 금정동_롯데_104', '경기도 군포시 금정동_주공(1단지)_52', '경기도 군포시 당동_당동누리에뜰해밀_83', '경기도 군포시 당동_덕산106동(903-8)_54', '경기도 김포시 감정동_쌍용_115', '경기도 김포시 감정동_푸른마을(신안)_129', '경기도 김포시 고촌읍 신곡리_길훈_81', '경기도 김포시 구래동_한강신도시 3차 푸르지오_60', '경기도 김포시 양촌읍 양곡리_김포한강 신원 아침도시 고다니_85', '경기도 김포시 운양동_전원마을(월드4차2단지)_85', '경기도 김포시 운양동_전원마을(월드5차3단지)_85', '경기도 김포시 운양동_전원마을(월드6차4단지)_85', '경기도 김포시 풍무동_당곡마을(범양)_126', '경기도 김포시 풍무동_당곡마을(현대)_85', '경기도 남양주시 금곡동_금강_85', '경기도 남양주시 금곡동_신도브래뉴_85', '경기도 남양주시 와부읍 덕소리_대성_60', '경기도 남양주시 와부읍 덕소리_코오롱_60', '경기도 남양주시 와부읍 도곡리_벽산_60', '경기도 남양주시 와부읍 도곡리_한강우성_60', '경기도 남양주시 진건읍 진관리_화성타운_122', '경기도 남양주시 진접읍 부평리_진접센트레빌시티3단지_85', '경기도 남양주시 퇴계원읍 퇴계원리_강남건영2_85', '경기도 남양주시 평내동_대명_132', '경기도 남양주시 평내동_평내마을상록데시앙_70', '경기도 남양주시 화도읍 마석우리_신마석서희스타힐스_111', '경기도 남양주시 화도읍 차산리_신창현풍림아이원2차_106', '경기도 남양주시 화도읍 창현리_이안남양주_85', '경기도 부천시 괴안동_삼익3차_71', '경기도 부천시 괴안동_삼익세라믹_76', '경기도 부천시 괴안동_삼익세라믹_85', '경기도 부천시 괴안동_청수1차_79', '경기도 부천시 괴안동_청수1차_81', '경기도 부천시 괴안동_트윈파크_76', '경기도 부천시 상동_반달마을(건영)_56', '경기도 부천시 상동_반달마을(선경)_60', '경기도 부천시 소사본동_세영타워메카_77', '경기도 부천시 소사본동_세영타워메카_82', '경기도 부천시 소사본동_한신_85', '경기도 부천시 송내동_뉴서울_60', '경기도 부천시 송내동_성호_60', '경기도 부천시 역곡동_보람_60', '경기도 부천시 오정동_샬렛_60', '경기도 부천시 원종동_동문1차_77', '경기도 부천시 중동_금강마을(주공)_50', '경기도 부천시 중동_덕유마을(주공3)_59', '경기도 부천시 중동_연화마을(건영)_54', '경기도 부천시 중동_한라마을(주공2)_50', '경기도 부천시 춘의동_우남푸르미아_60', '경기도 부천시 춘의동_하나리아벨_68', '경기도 성남중원구 성남동_부남프라자_85', '경기도 수원권선구 고색동_대한_121', '경기도 수원권선구 고색동_우림필유_85', '경기도 수원권선구 곡반정동_삼성_85', '경기도 수원권선구 곡반정동_한솔_85', '경기도 수원권선구 구운동_서수원엠코타운르본느_60', '경기도 수원권선구 구운동_일월청구_60', '경기도 수원권선구 권선동_권선3지구주공1단지_60', '경기도 수원권선구 권선동_상록3단지_60', '경기도 수원권선구 권선동_신현대_85', '경기도 수원권선구 권선동_우남1_60', '경기도 수원권선구 당수동_쌍용스윗닷홈1단지_85', '경기도 수원권선구 당수동_한라비발디2단지_85', '경기도 수원권선구 오목천동_남광하우스토리_60', '경기도 수원권선구 호매실동_삼익2_85', '경기도 수원영통구 망포동_쌍용스윗닷홈3차_60', '경기도 수원영통구 매탄동_주공그린빌5_50', '경기도 수원영통구 영통동_신나무실진흥_60', '경기도 수원영통구 영통동_신나무실휴먼시아5단지_60', '경기도 수원영통구 영통동_청명마을(주공)_50', '경기도 수원영통구 영통동_황골마을주공1_60', '경기도 수원영통구 영통동_황골마을한국_60', '경기도 수원장안구 율전동_대우이안_53', '경기도 수원장안구 율전동_삼성1_60', '경기도 수원장안구 율전동_서희스타힐스3단지_60', '경기도 수원장안구 율전동_성균관대역서희스타힐스아파트1단지_85', '경기도 수원장안구 정자동_남서울그린맨션_106', '경기도 수원장안구 천천동_삼호진덕_60', '경기도 수원장안구 천천동_천천삼성래미안_60', '경기도 수원장안구 파장동_익주_85', '경기도 수원팔달구 우만동_삼성_85', '경기도 시흥시 대야동_극동_60', '경기도 시흥시 대야동_우성2_60', '경기도 시흥시 월곶동_풍림아이원1차_115', '경기도 시흥시 은행동_대우푸르지오1차_60', '경기도 시흥시 은행동_대우푸르지오3차_60', '경기도 시흥시 은행동_두산_72', '경기도 시흥시 장곡동_연성대우3_71', '경기도 시흥시 장곡동_진말우성_85', '경기도 시흥시 정왕동_건영2_85', '경기도 시흥시 정왕동_금강_85', '경기도 시흥시 정왕동_대림1_85', '경기도 시흥시 정왕동_미주_85', '경기도 시흥시 정왕동_삼성_85', '경기도 시흥시 정왕동_서해1_104', '경기도 시흥시 정왕동_서해1_85', '경기도 시흥시 정왕동_서해2_85', '경기도 시흥시 정왕동_신한미지엔_96', '경기도 시흥시 정왕동_영남5_85', '경기도 시흥시 정왕동_영화하이닉스_85', '경기도 시흥시 정왕동_주공5_85', '경기도 시흥시 죽율동_시흥6차 푸르지오 1단지_60', '경기도 시흥시 죽율동_시흥6차 푸르지오 2단지_60', '경기도 시흥시 하상동_연꽃마을태평2_85', '경기도 시흥시 하중동_참이슬마을_85', '경기도 안산단원구 고잔동_주공7_76', '경기도 안산단원구 선부동_공작한양(저층)_71', '경기도 안산단원구 선부동_수정한양_119', '경기도 안산단원구 선부동_수정한양_74', '경기도 안산단원구 선부동_수정한양_85', '경기도 안산단원구 신길동_휴먼시아4단지_75', '경기도 안산단원구 원곡동_벽산블루밍_60', '경기도 안산단원구 원곡동_벽산블루밍_74', '경기도 안산단원구 원곡동_안산8차푸르지오_60', '경기도 안산단원구 원곡동_한화꿈에그린_60', '경기도 안산단원구 초지동_그린빌15(해맑음마을)_60', '경기도 안산단원구 초지동_주공그린빌13단지_52', '경기도 안산단원구 초지동_주공그린빌14단지_50', '경기도 안산단원구 초지동_주공그린빌14단지_60', '경기도 안산상록구 본오동_반월한양_72', '경기도 안산상록구 본오동_신안1_69', '경기도 안산상록구 본오동_우성_76', '경기도 안산상록구 본오동_월드_60', '경기도 안산상록구 본오동_월드_65', '경기도 안산상록구 본오동_태영_77', '경기도 안산상록구 사동_SK선경_85', '경기도 안산상록구 사동_상록마을_97', '경기도 안산상록구 사동_숲속마을_70', '경기도 안산상록구 사동_요진_85', '경기도 안산상록구 사동_월드메르디앙_79', '경기도 안산상록구 사동_푸른마을주공3_60', '경기도 안산상록구 사동_푸른마을주공4_60', '경기도 안산상록구 사동_푸른마을주공5_60', '경기도 안산상록구 사동_한영엘리지움Ⅱ_85', '경기도 안산상록구 사동_현대2_85', '경기도 안산상록구 성포동_예술인_85', '경기도 안산상록구 성포동_주공10_76', '경기도 안산상록구 월피동_한양_109', '경기도 안산상록구 월피동_한양_85', '경기도 안양동안구 관양동_아리랑타워_60', '경기도 안양동안구 호계동_삼호우주_60', '경기도 안양동안구 호계동_수성드림빌_78', '경기도 안양동안구 호계동_일신진흥_60', '경기도 안양동안구 호계동_휴먼빌_60', '경기도 안양만안구 박달동_우성_73', '경기도 안양만안구 박달동_짜임_85', '경기도 안양만안구 안양동_금용_85', '경기도 안양만안구 안양동_수리산힐스테이트_60', '경기도 안양만안구 안양동_율목주공_60', '경기도 오산시 갈곶동_오산KCC스위첸_85', '경기도 오산시 갈곶동_한솔솔파크_85', '경기도 오산시 고현동_고현아이파크_102', '경기도 오산시 고현동_고현아이파크_85', '경기도 오산시 세교동_세마역 트루엘 더퍼스트_75', '경기도 오산시 양산동_오산세마e편한세상_79', '경기도 오산시 양산동_오산세마e편한세상_85', '경기도 오산시 오산동_대동_100', '경기도 오산시 오산동_주공2단지_85', '경기도 오산시 오산동_주공4_85', '경기도 오산시 오산동_현대_85', '경기도 오산시 원동_두산_130', '경기도 오산시 원동_오산역e-편한세상1단지_70', '경기도 오산시 원동_운암청구(814-2)_93', '경기도 오산시 청호동_오산자이_124', '경기도 오산시 청호동_오산자이_85', '경기도 오산시 청호동_오산청호엘리시아_85', '경기도 용인기흥구 구갈동_신명_63', '경기도 용인기흥구 보라동_삼성래미안_85', '경기도 용인기흥구 보라동_쌍용스윗닷홈1_110', '경기도 용인기흥구 보라동_한보라마을휴먼시아6단지_76', '경기도 용인기흥구 상갈동_금화주공5단지(454)_60', '경기도 용인기흥구 상하동_쌍용(3단지)_144', '경기도 용인기흥구 상하동_쌍용(3단지)_85', '경기도 용인기흥구 상하동_쌍용스윗닷홈(2단지)_102', '경기도 용인기흥구 언남동_언동마을신일푸른솔_76', '경기도 용인기흥구 영덕동_대명레이크빌_69', '경기도 용인기흥구 영덕동_영덕신일1_85', '경기도 용인기흥구 지곡동_써니밸리II_85', '경기도 용인기흥구 하갈동_청명호수 신안인스빌1단지_85', '경기도 용인처인구 마평동_용인두보_121', '경기도 용인처인구 마평동_푸른마을용인자이_85', '경기도 용인처인구 삼가동_늘푸른오스카빌2단지_82', '경기도 용인처인구 이동읍 송전리_송전마을 세광엔리치타워_122', '경기도 용인처인구 포곡읍 둔전리_금전마을계룡리슈빌_85', '경기도 의왕시 삼동_새천년미주_60', '경기도 의왕시 오전동_신안1단지(1동2동)_83', '경기도 의왕시 오전동_진달래(LG)_60', '경기도 의정부시 금오동_금오주공그린빌1_76', '경기도 의정부시 녹양동_대림_121', '경기도 의정부시 민락동_민락e-편한세상_60', '경기도 의정부시 민락동_산들마을(서광)_85', '경기도 의정부시 민락동_산들마을4단지아이파크_100', '경기도 의정부시 민락동_청구1차_102', '경기도 의정부시 민락동_청구1차_85', '경기도 의정부시 신곡동_극동스타클래스_85', '경기도 의정부시 신곡동_대우_135', '경기도 의정부시 신곡동_장암현대1_75', '경기도 의정부시 신곡동_한일유앤아이_85', '경기도 의정부시 호원동_뉴익호원가든3_85', '경기도 의정부시 호원동_성호_85', '경기도 의정부시 호원동_우남2_85', '경기도 의정부시 호원동_우성2_85', '경기도 의정부시 호원동_한신1차_85', '경기도 의정부시 호원동_한주1_85', '경기도 의정부시 호원동_호원두산_85', '경기도 파주시 금촌동_새꽃마을뜨란채(972-0)_85', '경기도 파주시 금촌동_후곡마을뜨란채주공4단지_76', '경기도 파주시 목동동_산내마을11단지현대아이파크_85', '경기도 파주시 목동동_해솔마을 2단지 월드메르디앙(2-117)_101', '경기도 파주시 목동동_해솔마을 2단지 월드메르디앙(2-117)_85', '경기도 파주시 목동동_해솔마을3단지운정현대_60', '경기도 파주시 목동동_해솔마을3단지운정현대_85', '경기도 파주시 아동동_팜스프링(283-0)_141', '경기도 파주시 야당동_운정아모리움_52', '경기도 파주시 와동동_가람마을1단지벽산한라(1308)_60', '경기도 파주시 와동동_가람마을3단지(동문굿모닝힐)_85', '경기도 파주시 와동동_가람마을8단지 동문굿모닝힐_72', '경기도 파주시 와동동_가람마을8단지 동문굿모닝힐_85', '경기도 파주시 조리읍 대원리_그린시티동문(218-0)_168', '경기도 파주시 조리읍 봉일천리_파주 푸르지오 (269-0)_85', '경기도 평택시 독곡동_동부_131', '경기도 평택시 동삭동_서재자이_60', '경기도 평택시 동삭동_서재자이_75', '경기도 평택시 동삭동_서재자이_85', '경기도 평택시 비전동_SK비전_85', '경기도 평택시 비전동_비전 롯데캐슬_85', '경기도 평택시 비전동_소사벌리더스하임_85', '경기도 평택시 비전동_시대코아_120', '경기도 평택시 비전동_와이엠프라젠_85', '경기도 평택시 비전동_한빛_91', '경기도 평택시 비전동_현대이화_108', '경기도 평택시 세교동_청실보성_135', '경기도 평택시 용이동_e편한세상평택_73', '경기도 평택시 용이동_용이반도유보라_102', '경기도 평택시 용이동_평택용이금호어울림 1단지_68', '경기도 평택시 용이동_푸르지오1차_85', '경기도 평택시 이충동_우미이노스빌5차_85', '경기도 평택시 이충동_현대(이충)_85', '경기도 평택시 이충동_휴먼시아추담마을_85', '경기도 평택시 장당동_우미이노스빌1차_85', '경기도 평택시 장당동_우미이노스빌2차_80', '경기도 평택시 장당동_우미이노스빌2차_85', '경기도 평택시 장당동_우미이노스빌3차_82', '경기도 평택시 장당동_우미이노스빌3차_85', '경기도 평택시 장당동_한국아델리움_85', '경기도 평택시 장안동_평택장안마을코오롱하늘채_85', '경기도 평택시 지산동_케이씨씨스위첸_85', '경기도 평택시 합정동_SKVIEW1단지_105', '경기도 평택시 합정동_참이슬_125', '경기도 화성시 기산동_신동탄푸르지오_102', '경기도 화성시 남양읍 남양리_남양우림필유_85', '경기도 화성시 능동_동탄푸른마을신일해피트리_60', '경기도 화성시 능동_서동탄역 우남퍼스트빌 아파트_85', '경기도 화성시 능동_서동탄역 우남퍼스트빌아파트_85', '경기도 화성시 반월동_신영통현대2차_85', '경기도 화성시 반월동_신영통현대4차_68', '경기도 화성시 병점동_느치미마을주공4단지_76', '경기도 화성시 병점동_느치미마을주공4단지_85', '경기도 화성시 병점동_느치미마을주공뜨란채3단지_76', '경기도 화성시 병점동_느치미마을주공뜨란채3단지_85', '경기도 화성시 병점동_늘벗마을신창1차_60', '경기도 화성시 병점동_늘벗마을신창1차_85', '경기도 화성시 병점동_다정마을신한에스빌1차_85', '경기도 화성시 병점동_다정마을신한에스빌2차_85', '경기도 화성시 병점동_안화동마을주공5단지_76', '경기도 화성시 병점동_안화동마을주공5단지_85', '경기도 화성시 병점동_안화동마을주공9단지_76', '경기도 화성시 병점동_안화동마을주공9단지_85', '경기도 화성시 병점동_한신_116', '경기도 화성시 병점동_화성병점양우내안애_59', '경기도 화성시 봉담읍 동화리_휴먼시아동화마을(6단지)_85', '경기도 화성시 봉담읍 동화리_휴먼시아동화마을5단지_85', '경기도 화성시 봉담읍 수영리_한울마을신창비바패밀리1단지_85', '경기도 화성시 진안동_월드메르디앙1단지_85', '경기도 화성시 진안동_월드메르디앙2단지_85', '경기도 화성시 진안동_진안골마을주공11단지_76', '경기도 화성시 진안동_진안골마을주공11단지_85', '경기도 화성시 향남읍 행정리_향남 살구꽃마을 화성파크드림_85', '경기도 화성시 향남읍 행정리_화성향남시범 복사꽃마을 한국아델리_85', '서울특별시 강동구 길동_에이치비골드빌(103동)_43', '서울특별시 강동구 성내동_다성이즈빌_36', '서울특별시 강서구 화곡동_삼도_71', '서울특별시 강서구 화곡동_태창네스트힐_56', '서울특별시 관악구 신림동_초원_60', '서울특별시 구로구 개봉동_건영_85', '서울특별시 구로구 구로동_성락_58', '서울특별시 구로구 오류동_오류동휘버스_84', '서울특별시 노원구 상계동_건영_60', '서울특별시 노원구 상계동_북부현대_60', '서울특별시 노원구 월계동_청백3_60', '서울특별시 노원구 월계동_초안2_60', '서울특별시 도봉구 도봉동_현대성우_60', '서울특별시 양천구 신월동_세아쎄닛빌_67', '서울특별시 양천구 신월동_우당_60', '서울특별시 용산구 한강로2가_한강로대우아이빌_30', '서울특별시 은평구 녹번동_녹번현대아파트_63', '서울특별시 은평구 불광동_남해그린힐_85', '서울특별시 은평구 응암동_남청파인힐_61', '서울특별시 은평구 응암동_우성_65', '서울특별시 종로구 익선동_현대뜨레비앙_47', '인천광역시 계양구 계산동_신도브래뉴_58', '인천광역시 계양구 계산동_은행마을(아주)_63', '인천광역시 계양구 계산동_한국_83', '인천광역시 계양구 계산동_휴인아파트_69', '인천광역시 계양구 병방동_학마을서원_60', '인천광역시 계양구 작전동_상록파라브_63', '인천광역시 계양구 작전동_유호_85', '인천광역시 계양구 작전동_풍림아이원_69', '인천광역시 계양구 작전동_현대2-1차_79', '인천광역시 계양구 작전동_현대3_77', '인천광역시 계양구 효성동_현대1_85', '인천광역시 남동구 간석동_극동_85', '인천광역시 남동구 간석동_금호_78', '인천광역시 남동구 간석동_우성_110', '인천광역시 남동구 간석동_인천간석휴먼시아1단지_60', '인천광역시 남동구 간석동_풍림아이원_60', '인천광역시 남동구 간석동_한진_103', '인천광역시 남동구 논현동_주공13단지(푸르내마을)_60', '인천광역시 남동구 논현동_풍림_102', '인천광역시 남동구 도림동_주공그린빌2차_85', '인천광역시 남동구 만수동_광명아파트_85', '인천광역시 남동구 만수동_금호타운_102', '인천광역시 남동구 만수동_주공11단지_85', '인천광역시 동구 송현동_송현주공솔빛마을(154)_80', '인천광역시 미추홀구 도화동_도화역대성유니드_85', '인천광역시 미추홀구 용현동_금호어울림4차_77', '인천광역시 미추홀구 용현동_인천용현엑슬루타워_85', '인천광역시 미추홀구 주안동_주안두산_85', '인천광역시 미추홀구 주안동_진흥_123', '인천광역시 미추홀구 학익동_동아풍림_85', '인천광역시 미추홀구 학익동_신동아3_85', '인천광역시 미추홀구 학익동_신동아6_128', '인천광역시 미추홀구 학익동_신동아8_85', '인천광역시 미추홀구 학익동_풍림아이원_60', '인천광역시 미추홀구 학익동_현광1차_123', '인천광역시 부평구 갈산동_대성유니드_85', '인천광역시 부평구 갈산동_삼성홈타운_81', '인천광역시 부평구 부개동_부개주공1_50', '인천광역시 부평구 부개동_부개주공3_60', '인천광역시 부평구 부개동_부개주공7단지_60', '인천광역시 부평구 부평동_해마루아파트_68', '인천광역시 부평구 산곡동_경남3차_85', '인천광역시 부평구 산곡동_경남5차_85', '인천광역시 부평구 산곡동_우성1차2차(294-35)_74', '인천광역시 부평구 산곡동_우성4차_137', '인천광역시 부평구 산곡동_현대(179-92)_85', '인천광역시 부평구 산곡동_현대2차_73', '인천광역시 부평구 산곡동_현대3차_85', '인천광역시 부평구 삼산동_삼산주공미래타운1차_60', '인천광역시 부평구 십정동_동보_85', '인천광역시 부평구 십정동_십정뜨란채1단지_60', '인천광역시 부평구 일신동_풍림아파트(101~110동)_73', '인천광역시 부평구 청천동_우림필유(192-0)_78', '인천광역시 부평구 청천동_청천푸르지오_60', '인천광역시 서구 가정동_하나3_132', '인천광역시 서구 가정동_한국_127', '인천광역시 서구 가정동_한국_153', '인천광역시 서구 검암동_검암4차신명스카이뷰_85', '인천광역시 서구 검암동_삼보해피하임3_72', '인천광역시 서구 검암동_삼보해피하임4_72', '인천광역시 서구 검암동_신명스카이뷰1_60', '인천광역시 서구 당하동_신안실크벨리_85', '인천광역시 서구 당하동_원당동문굿모닝힐_75', '인천광역시 서구 당하동_원당풍림아이원_75', '인천광역시 서구 당하동_탑스빌(영남)_85', '인천광역시 서구 마전동_검단아이파크_70', '인천광역시 서구 마전동_당하3차풍림아이원_85', '인천광역시 서구 마전동_동아_135', '인천광역시 서구 마전동_이지2차미래지향 1단지_85', '인천광역시 서구 불로동_동부_135', '인천광역시 서구 석남동_서인천월드메르디앙_60', '인천광역시 서구 석남동_우림필유_85', '인천광역시 서구 신현동_금강아미움_66', '인천광역시 서구 심곡동_극동늘푸른_85', '인천광역시 서구 왕길동_검단자이2단지_85', '인천광역시 서구 왕길동_동남디아망_85', '인천광역시 서구 원당동_금호어울림2차(원당지구 80BL 3L)_85', '인천광역시 연수구 동춘동_건영_85', '인천광역시 연수구 동춘동_대우3_100', '인천광역시 연수구 동춘동_무지개마을_60', '인천광역시 연수구 동춘동_조흥_102', '인천광역시 연수구 동춘동_조흥_98', '인천광역시 연수구 동춘동_풍림3_85', '인천광역시 연수구 연수동_경남_71', '인천광역시 연수구 연수동_대림_63', '인천광역시 연수구 연수동_동남_105', '인천광역시 연수구 연수동_유천_85', '인천광역시 연수구 옥련동_럭키송도_85', '인천광역시 연수구 옥련동_삼성_85', '인천광역시 연수구 옥련동_서해_85', '인천광역시 연수구 옥련동_아주1_85', '인천광역시 연수구 옥련동_풍림_77', '인천광역시 연수구 옥련동_현대2_85', '인천광역시 연수구 옥련동_현대5_85', '인천광역시 중구 신흥동3가_신흥아이파크_115', '인천광역시 중구 운서동_영종주공스카이빌10단지_60', '인천광역시 중구 운서동_풍림아이원2단지2차_85', '인천광역시 중구 중산동_하늘도시우미린2단지_85']

검색할 id경기도 수원영통구 영통동_황골마을주공1_60

,id,quarter,전용면적_미제,거래금액,건축년도,보증금,매매상승률,전세상승률,전세가율,평당매매가,매매빈도,전세빈도,위도,경도,서울구분,6억초과,규제,평당거주비용,cluster,2nd_cluster
88866,경기도 수원영통구 영통동_황골마을주공1_60,2017_1Q,60.000,248.122,1997.000,213.158,0.990,0.914,85.909,13.785,41.000,49.000,37.263,127.080,0,0,해당 없음,0.439,2,3
88867,경기도 수원영통구 영통동_황골마을주공1_60,2017_2Q,60.000,251.543,1997.000,212.903,1.379,-0.119,84.639,13.975,47.000,35.000,37.263,127.080,0,0,해당 없음,0.451,2,3
88868,경기도 수원영통구 영통동_황골마을주공1_60,2017_3Q,60.000,249.545,1997.000,200.129,-0.794,-6.000,80.197,13.864,44.000,41.000,37.263,127.080,0,0,해당 없음,0.453,2,3
88869,경기도 수원영통구 영통동_황골마을주공1_60,2017_4Q,60.000,243.567,1997.000,191.250,-2.396,-4.437,78.521,13.531,30.000,29.000,37.263,127.080,0,0,해당 없음,0.457,2,3
88870,경기도 수원영통구 영통동_황골마을주공1_60,2018_1Q,60.000,236.372,1997.000,186.795,-2.954,-2.329,79.026,13.132,43.000,49.000,37.263,127.080,0,0,해당 없음,0.454,1,3
88871,경기도 수원영통구 영통동_황골마을주공1_60,2018_2Q,60.000,235.975,1997.000,193.000,-0.168,3.322,81.788,13.110,20.000,36.000,37.263,127.080,0,0,해당 없음,0.455,1,3
88872,경기도 수원영통구 영통동_황골마을주공1_60,2018_3Q,60.000,233.223,1997.000,191.581,-1.166,-0.735,82.145,12.957,47.000,35.000,37.263,127.080,0,0,해당 없음,0.436,1,3
88873,경기도 수원영통구 영통동_황골마을주공1_60,2018_4Q,60.000,239.857,1997.000,185.614,2.844,-3.115,77.385,13.325,63.000,54.000,37.263,127.080,0,0,해당 없음,0.434,1,3
88874,경기도 수원영통구 영통동_황골마을주공1_60,2019_1Q,60.000,229.086,1997.000,178.367,-4.491,-3.904,77.860,12.727,29.000,64.000,37.263,127.080,0,0,해당 없음,0.392,1,3
88875,경기도 수원영통구 영통동_황골마을주공1_60,2019_2Q,60.000,221.955,1997.000,159.654,-3.113,-10.492,71.931,12.331,22.000,67.000,37.263,127.080,0,0,해당 없음,0.356,1,3
88876,경기도 수원영통구 영통동_황골마을주공1_60,2019_3Q,60.000,225.763,1997.000,168.750,1.716,5.697,74.747,12.542,27.000,43.000,37.263,127.080,0,0,해당 없음,0.319,1,3
88877,경기도 수원영통구 영통동_황골마을주공1_60,2019_4Q,60.000,230.840,1997.000,190.276,2.249,12.756,82.428,12.824,78.000,70.000,37.263,127.080,0,0,해당 없음,0.316,1,3
88878,경기도 수원영통구 영통동_황골마을주공1_60,2020_1Q,60.000,265.153,1997.000,199.247,14.865,4.715,75.144,14.731,189.000,94.000,37.263,127.080,0,0,조정대상지역,0.369,2,3
88879,경기도 수원영통구 영통동_황골마을주공1_60,2020_2Q,60.000,294.365,1997.000,206.499,11.017,3.640,70.151,16.354,96.000,68.000,37.263,127.080,0,0,조정대상지역,0.414,2,3
88880,경기도 수원영통구 영통동_황골마을주공1_60,2020_3Q,60.000,319.648,1997.000,225.060,8.589,8.989,70.409,17.758,64.000,90.000,37.263,127.080,0,0,투기과열지구,0.431,2,3
88881,경기도 수원영통구 영통동_황골마을주공1_60,2020_4Q,60.000,345.011,1997.000,235.745,7.934,4.747,68.330,19.167,95.000,79.000,37.263,127.080,0,0,투기과열지구,0.487,2,3
88882,경기도 수원영통구 영통동_황골마을주공1_60,2021_1Q,60.000,397.603,1997.000,235.833,15.244,0.037,59.314,22.089,58.000,55.000,37.263,127.080,0,0,투기과열지구,0.591,2,3
88883,경기도 수원영통구 영통동_황골마을주공1_60,2021_2Q,60.000,428.697,1997.000,236.526,7.820,0.294,55.173,23.817,71.000,63.000,37.263,127.080,0,0,투기과열지구,0.648,2,3

### 각 2차군집의 패턴 파악해보기

In [8]:
# id, 2차군집 결과 
df_id_2nd = df2[['id','2nd_cluster']]
df_id_2nd.drop_duplicates(inplace=True)
df_id_2nd

<ipython-input-8-d406f2d2b709>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                 id  2nd_cluster
0       경기도 고양덕양구 고양동_고양동우방유쉘아파트_60            1
18      경기도 고양덕양구 고양동_고양동우방유쉘아파트_85            6
36              경기도 고양덕양구 고양동_삼성_60            1
54              경기도 고양덕양구 고양동_삼성_85            1
72              경기도 고양덕양구 고양동_윤창_59            1
...                             ...          ...
380196     인천광역시 중구 항동7가_라이프비취2차_72            1
380214    인천광역시 중구 항동7가_라이프비취3차_126            1
380232    인천광역시 중구 항동7가_라이프비취3차_164            3
380250     인천광역시 중구 항동7가_라이프비취3차_85            1
380268       인천광역시 중구 항동7가_연안아파트_54            1

[21127 rows x 2 columns]

In [9]:
# 데이터프레임에 2차군집 컬럼 생성
df_merge2nd = pd.merge(df, df_id_2nd, how='left', on ='id')

# 열 재배열
df_merge2nd = df_merge2nd[['id','2nd_cluster','pattern', '2017_1Q', '2017_2Q', '2017_3Q', '2017_4Q', '2018_1Q', '2018_2Q',
       '2018_3Q', '2018_4Q', '2019_1Q', '2019_2Q', '2019_3Q', '2019_4Q',
       '2020_1Q', '2020_2Q', '2020_3Q', '2020_4Q', '2021_1Q', '2021_2Q']]
df_merge2nd

,id,2017_1Q,2017_2Q,2017_3Q,2017_4Q,2018_1Q,2018_2Q,2018_3Q,2018_4Q,2019_1Q,...,2019_3Q,2019_4Q,2020_1Q,2020_2Q,2020_3Q,2020_4Q,2021_1Q,2021_2Q,pattern,2nd_cluster
0,경기도 고양덕양구 고양동_고양동우방유쉘아파트_60,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,2,1-2,1
1,경기도 고양덕양구 고양동_고양동우방유쉘아파트_85,2,2,2,2,2,2,2,1,2,...,2,2,2,2,2,2,2,2,2-1-2,6
2,경기도 고양덕양구 고양동_삼성_60,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,경기도 고양덕양구 고양동_삼성_85,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,2,1-2,1
4,경기도 고양덕양구 고양동_윤창_59,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21122,인천광역시 중구 항동7가_라이프비취2차_72,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
21123,인천광역시 중구 항동7가_라이프비취3차_126,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
21124,인천광역시 중구 항동7가_라이프비취3차_164,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,2,2,2,1-2,3
21125,인천광역시 중구 항동7가_라이프비취3차_85,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
21126,인천광역시 중구 항동7가_연안아파트_54,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

# 데이터 저장

In [18]:
df_merge2nd.to_csv('data/etc/군집이동_2차군집_패턴.csv', index=False, encoding='utf-8-sig')

---

# 2차군집 별로 패턴 분석

In [20]:
for i in range(8):
    globals()['cluster2_{}'.format(i)] = df_merge2nd[df_merge2nd['2nd_cluster'] == i]

In [188]:
go(df)

패턴 수:  (378,)
1                              3388
2-4                            3287
4-5                            2595
1-2                            1406
5-6                            1149
2                              1104
2-4-5                           713
4-5-6                           563
2-1-2                           451
4-5-4-5                         430
2-4-2-4                         422
6-7                             384
1-2-1-2                         332
4                               271
3-2-4                           239
5-6-5-6                         226
2-1-2-1-2                       212
2-4-2-4-5                       192
3-4-5                           171
4-2-4-5                         157
1-3                             125
2-1-2-4                          98
7                                98
3-5-6                            96
1-2-1-2-1-2                      95
4-5-4-5-6                        89
5-6-7                            87
2-3-2-4                          86
6-7-6-7                          84
1-2-3                            78
1-2-4                            78
5                                75
6                                74
2-4-2-4-2-4                      72
4-2-4                            72
4-3-4-5                          70
2-1-2-1-2-1-2                    64
2-4-5-4                          61
2-4-2                            61
2-3-4                            60
1-2-1                            58
3-2-4-5                          53
3-2                              51
4-5-4                            50
3                                46
3-4                              44
2-4-5-4-5                        42
2-4-3-4                          41
4-2-4-2-4                        40
3-5                              40
4-2-4-2-4-5                      39
2-3                              39
5-4-5-6                          37
4-5-6-5                          32
4-5-4-5-4-5                      31
1-2-1-2-1-2-1-2                  29
2-4-2-4-2-4-5                    29
1-2-1-2-3                        26
2-3-2                            26
5-6-5-6-5-6                      25
2-4-3-4-5                        22
2-1-2-1-2-4                      22
4-5-6-5-6                        22
1-2-1-2-4                        20
3-4-5-6                          19
1-3-2                            18
2-4-2-4-5-4                      17
3-2-4-2-4                        17
2-4-3                            16
5-4-5                            15
3-4-2-4-5                        15
4-5-4-5-6-5                      15
6-7-6                            14
1-3-1-3                          14
1-2-3-4                          14
4-3-4                            14
4-2-4-5-4                        13
1-2-3-2                          13
3-5-6-5-6                        12
5-6-5                            12
1-2-3-2-3-4                      11
3-1-2                            11
1-3-2-4                          11
4-2-4-2-4-2-4                    11
2-1-2-1-2-1-2-1-2                11
3-4-5-4-5                        10
6-5-6                            10
5-6-7-6                          10
1-2-3-2-3                        10
3-2-3-4                          10
2-1                              10
1-2-1-3                           9
3-2-3-2-4                         9
4-5-3-5                           9
2-4-2-4-2-4-2-4                   9
5-6-7-6-7                         9
1-3-2-3                           9
5-4-5-4-5                         9
1-2-1-2-1                         8
2-3-4-5                           7
2-3-2-3-2-4                       7
2-4-2-4-2-4-5-4                   7
5-6-5-6-7                         7
6-7-6-7-6-7                       7
3-2-3                             7
4-3-5                             7
3-2-1-2-4                         7
2-3-2-3                           6
2-3-2-4-5                         6
3-1-2-4                           6
3-4-2-4                           6
2-4-2-4-3-4                       5
1-2-1-2-1-2-1-2-1-2               5
3-4-3-4-5                         5
3-2-4-2                           5
5-4-5-4-5-6                       5
3-5-4-5                           5
3-5-6-7                           5
2-1-2-3                           4
2-1-2-1-2-3-2                     4
2-3-2-4-2-4                       4
1-2-4-2                           4
3-2-1-2                           4
2-4-2-4-3-4-5                     4
3-4-5-4                           4
5-3-5-6                           4
2-1-2-1-2-1-2-4                   4
3-2-4-2-4-5                       4
2-3-2-3-4                         4
5-6-5-6-7-6                       4
2-3-4-2-4                         4
3-1-2-1-2                         4
2-1-2-3-2-4                       4
1-3-1-3-2                         4
2-1-2-1                           4
2-1-2-4-2                         4
2-1-3-2-4                         4
3-1-3-1-2                         3
1-3-1-2                           3
4-2-4-5-4-5                       3
3-2-4-5-4                         3
1-2-1-2-3-4                       3
4-2-4-2-4-5-4                     3
4-2-4-3-4-5                       3
2-4-2-3-4-5                       3
2-1-2-3-2                         3
1-2-1-2-3-2-3                     3
2-4-3-5                           3
1-3-1-3-2-4                       3
1-2-4-2-4                         3
4-5-4-5-4-5-4-5                   3
3-2-4-5-4-5                       3
1-2-1-2-1-2-4                     3
3-6                               3
4-3-4-5-4-5                       3
2-3-2-4-3-4                       3
1-2-4-3-4                         3
7-6-7                             3
2-1-2-3-4                         2
2-3-4-3-4                         2
2-3-2-3-4-3                       2
1-2-1-2-4-2                       2
3-1-3                             2
3-6-5-6                           2
4-2-3-2-4                         2
3-2-4-3-4-5                       2
5-4                               2
4-2-4-2-4-5-4-5                   2
3-4-3-4-3                         2
3-1-3-2-4                         2
1-3-4                             2
4-5-4-5-4-5-3-5                   2
3-2-4-3-4                         2
7-6-7-6-7                         2
4-3-4-3-5                         2
5-4-5-6-5                         2
2-3-5                             2
2-4-2-4-5-4-5                     2
1-2-3-2-3-4-3                     2
4-3-5-6                           2
2-4-2-4-2-4-3-4                   2
4-2-5                             2
5-4-5-6-5-6                       2
4-3                               2
3-4-2-4-2-4                       2
2-3-1-3-2                         2
1-2-1-2-1-2-3                     2
3-4-5-4-5-6-5                     2
6-5-6-5-6                         2
3-2-4-3                           2
2-1-3-2                           2
4-5-4-5-6-5-6                     2
3-2-3-4-5                         2
2-4-2-4-2-4-2-4-5                 2
2-1-2-1-2-1-2-1-2-1-2             2
6-5-6-7                           2
4-5-4-5-4-5-4-5-6                 2
3-2-3-2-4-5                       2
1-2-1-2-1-2-3-4                   2
1-2-1-2-4-2-4                     2
1-2-3-2-4                         2
4-3-4-5-4                         2
4-5-3                             2
3-4-3-4                           2
4-3-4-3-4-5                       2
4-2-4-2-4-2-4-5                   2
4-2-4-2-4-2-4-2-4                 2
3-1-2-3                           2
3-4-3-5                           1
3-4-5-6-5                         1
3-1-3-1-3                         1
4-2-4-2-4-2-4-3-4                 1
3-2-4-3-2-4-3-4-5                 1
5-4-5-4-5-4-5                     1
3-1-3-2                           1
3-4-3-4-3-4-5                     1
1-3-2-3-4                         1
3-2-4-3-5                         1
5-6-5-7                           1
2-4-3-4-3-4-3-4-3-4               1
3-2-1-2-1-2-4                     1
1-3-4-3                           1
3-1-3-2-3                         1
3-2-1-3-2-4                       1
3-1-2-4-2                         1
4-3-5-6-5                         1
1-3-1                             1
1-2-1-3-2                         1
2-3-4-5-4                         1
2-4-2-4-5-4-5-4-5                 1
2-4-2-3-4                         1
2-3-2-4-2                         1
4-2-4-3-4                         1
1-2-1-2-3-2-4                     1
2-4-3-2-4-5                       1
2-4-2-3-2-4                       1
3-4-2-4-3-4                       1
2-3-2-3-2-4-2-4                   1
4-2-4-2-4-2-4-2-4-2-4             1
3-1-2-3-2-4                       1
2-4-2-4-2                         1
1-2-1-2-1-2-1-2-4                 1
2-1-2-1-2-1-3-2                   1
1-2-1-3-1-3-2                     1
3-4-3-4-3-4-3-4-3                 1
4-6                               1
4-3-4-2-4-5                       1
4-2-4-3-5                         1
4-5-3-5-6                         1
2-3-4-2-3-4-3-4-3                 1
1-2-1-2-1-2-1                     1
1-3-1-3-1-2                       1
3-2-3-2                           1
2-1-3-2-4-2                       1
4-5-3-5-4-5                       1
2-4-3-4-5-4-5                     1
2-4-2-4-2-3-4                     1
1-3-2-1-2-1-2                     1
2-1-2-1-2-3-1-2-3-2-3-2           1
1-2-1-2-1-3-2                     1
1-2-1-2-3-2                       1
1-2-1-2-3-2-3-2-4                 1
3-5-6-7-6-7-6-7                   1
5-6-5-6-5-6-5-6                   1
3-4-5-3-5                         1
2-3-4-3-4-3-4                     1
6-5-6-7-6-7                       1
2-4-2-3-2-4-2-4                   1
4-5-4-3-4-5-4-5                   1
4-2-3-4-5                         1
2-3-2-4-3                         1
3-2-4-2-4-3-4                     1
4-5-6-5-6-5-6                     1
2-3-2-4-3-4-5                     1
2-3-2-3-4-2-4                     1
2-1-2-4-2-4                       1
2-4-3-4-2-3-4-3-4-3-4-5-4-5       1
4-3-2-4-5                         1
3-1-3-4                           1
1-3-2-1-2                         1
2-3-1-2                           1
3-4-3                             1
3-4-2-4-5-4                       1
4-2-3-2-4-2-4-2-4                 1
4-2-4-2                           1
2-3-2-4-2-4-2-4-5                 1
3-5-4-5-6                         1
2-4-2-4-3-5                       1
3-2-4-2-5                         1
4-3-5-4-5-6                       1
3-4-5-3-5-6                       1
4-5-4-5-4                         1
3-5-4-5-4-5-4-6                   1
3-4-5-4-5-6-5-6                   1
1-2-3-2-3-2-3                     1
3-4-5-6-5-6                       1
3-4-5-4-5-4                       1
2-3-2-3-2                         1
2-4-3-4-2-4                       1
4-2-3-2-4-3-4-5                   1
5-4-5-4-5-4-5-4-5                 1
4-5-4-5-4-5-6                     1
2-4-3-4-3-4-3                     1
4-2-3-4-2-4-3-4-2-4               1
2-4-2-4-2-4-2-4-2-4               1
4-5-4-5-3                         1
2-3-2-3-2-3-2-4                   1
5-3-5                             1
3-2-1-2-1-2-1-2                   1
2-4-2-4-2-4-3-4-5                 1
3-4-2-4-2-4-2-4-5                 1
4-3-2-4-2-4-2-4                   1
1-3-1-2-4                         1
4-5-4-3                           1
3-5-6-5-6-5-6                     1
1-2-3-2-3-2                       1
4-3-4-5-6                         1
3-1-3-1-2-4                       1
3-2-3-2-3-4-5                     1
2-3-4-2-3-4-5                     1
2-3-2-4-2-3-4-2-4                 1
1-2-1-3-2-3                       1
4-6-5-6                           1
2-3-4-2-4-2-4-3-4-3-4             1
1-3-1-2-3                         1
1-3-2-3-2-3                       1
1-2-1-3-1-3                       1
2-4-5-4-5-4                       1
4-2-4-3-4-5-4-5                   1
2-3-2-4-2-4-5-4                   1
1-2-1-2-3-4-3                     1
2-3-1-3                           1
2-1-3-2-1-2                       1
3-5-3-5                           1
2-1-3-1-2                         1
1-2-1-2-1-2-3-2                   1
3-2-3-2-3-4-3                     1
3-1-3-4-3                         1
3-4-5-4-5-4-5-6                   1
3-4-3-4-3-4-5-4-5                 1
2-4-3-4-2-4-5                     1
2-4-2-3-2-4-3-4                   1
4-2-1-2-4                         1
2-1-3-1                           1
4-2-4-3-4-3-4                     1
2-4-3-2-4                         1
5-6-5-6-5                         1
3-6-5-6-5-6                       1
2-1-2-1-3-2                       1
2-3-2-3-2-4-3-4                   1
4-3-4-3-4-3-4-5-4-5               1
2-3-2-3-4-3-4                     1
3-2-1-2-3                         1
2-3-4-3-4-3                       1
4-2                               1
2-1-2-1-2-1-2-3                   1
1-3-1-3-1-3-2                     1
3-1-3-2-3-2-4                     1
6-7-6-7-6-7-6-7                   1
1-2-1-2-3-2-3-2-3                 1
5-6-3-5-6-7                       1
4-2-4-3-4-2-4                     1
1-2-1-3-4                         1
4-5-4-3-5-6                       1
1-3-5                             1
5-4-5-4                           1
5-3-5-6-5-6                       1
1-3-2-1-2-3-4                     1
4-5-3-4-5                         1
3-5-3-6                           1
2-4-3-4-5-6-5                     1
2-4-3-2-4-2-4                     1
2-3-4-3-4-5-4-3-4-5               1
2-3-2-3-4-5                       1
4-5-4-3-5                         1
3-1-3-2-3-4                       1
3-2-4-2-4-5-4-5                   1
3-4-3-4-5-4-5                     1
Name: pattern, dtype: int64

KeyboardInterrupt: Interrupted by user

In [21]:
go(cluster2_3)

패턴 수:  (46,)
1-2                    519
1-2-1-2                163
2-1-2                  101
2-1-2-1-2               59
1-2-1-2-1-2             50
1-2-3                   35
2-1-2-1-2-1-2           21
1-2-1-2-1-2-1-2         19
1-2-4                   10
1-2-3-2                  7
1-3-2                    6
1-3-2-3                  6
3-1-2                    6
1-2-1-2-3                5
1-2-3-2-3                4
3-2                      4
1-2-1-2-1-2-1-2-1-2      4
1-3-1-3-2                3
1-2-1-2-4                3
1-2-1                    3
3-1-3-1-2                3
2-1-2-1-2-1-2-1-2        3
1-3-1-3-2-4              3
2-1-2-1-2-4              2
1-2-1-2-1                2
3-1-2-1-2                2
3-2-1-2                  1
3-1-3-2-4                1
2-1-2-1                  1
1-3-2-3-2-3              1
3-2-4                    1
1-2-1-2-1-2-4            1
1-2-1-2-1-3-2            1
2-1-2-4                  1
3-1-3-2                  1
2-1-2-1-2-3-2            1
1-3-1-3-1-2              1
1-2-1-2-1-2-3-2          1
1-2-1-3-1-3-2            1
3-1-2-3                  1
3-2-1-2-3                1
1-2-3-2-3-4              1
1-3-1-3-1-3-2            1
2-1-2-3                  1
1-3-1-2                  1
2-1-2-1-2-1-2-4          1
Name: pattern, dtype: int64

KeyboardInterrupt: Interrupted by user

In [196]:
df_merge2nd['2nd_cluster'].value_counts()

1    4459
7    4132
0    3938
2    3078
6    2450
5    1578
3    1063
4     429
Name: 2nd_cluster, dtype: int64


---

# 동별 랭킹 구하기

In [154]:
# 군집이동 데이터 가져오기
df = pd.read_csv('data/cluster/clust_1st_7_비인도데프.csv')
df

,id,2017_1Q,2017_2Q,2017_3Q,2017_4Q,2018_1Q,2018_2Q,2018_3Q,2018_4Q,2019_1Q,2019_2Q,2019_3Q,2019_4Q,2020_1Q,2020_2Q,2020_3Q,2020_4Q,2021_1Q,2021_2Q
0,경기도 고양덕양구 고양동_고양동우방유쉘아파트_60,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2
1,경기도 고양덕양구 고양동_고양동우방유쉘아파트_85,2,2,2,2,2,2,2,1,2,2,2,2,2,2,2,2,2,2
2,경기도 고양덕양구 고양동_삼성_60,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3,경기도 고양덕양구 고양동_삼성_85,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2
4,경기도 고양덕양구 고양동_윤창_59,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21122,인천광역시 중구 항동7가_라이프비취2차_72,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
21123,인천광역시 중구 항동7가_라이프비취3차_126,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
21124,인천광역시 중구 항동7가_라이프비취3차_164,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,2
21125,인천광역시 중구 항동7가_라이프비취3차_85,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
21126,인천광역시 중구 항동7가_연안아파트_54,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [156]:
# 분기 리스트
list_quarter = ['2017_1Q','2017_2Q','2017_3Q','2017_4Q','2018_1Q','2018_2Q','2018_3Q','2018_4Q',
                '2019_1Q','2019_2Q','2019_3Q','2019_4Q','2020_1Q','2020_2Q','2020_3Q','2020_4Q','2021_1Q','2021_2Q']

# 동별 카운트
for j in range(1,8):
    for i in list_quarter:
        dong = df[df[i]==j].id.str.split('_').str[0]
        cols = dong.value_counts().index
        values = dong.value_counts()
        
        globals()['c{}_{}'.format(j,i)] = pd.DataFrame([cols, values])

In [157]:
# 랭크 만들기 함수
def makeRank(n):
    dong_rank_171q = globals()['c{}_2017_1Q'.format(n)].values[0].tolist()
    dong_rank_212q = globals()['c{}_2021_2Q'.format(n)].values[0].tolist()
    status = []
    for dong in dong_rank_212q:
        try:
            idx_171q = dong_rank_171q.index(dong)
        except:
#             print('새로등재')
            status.append('새로등재')
            continue

        idx_212q = dong_rank_212q.index(dong)
    #     print(idx_171q,idx_212q)

        if idx_171q<idx_212q:
#             print(dong + ' 순위 내려감')
            status.append('내려감')

        elif idx_171q==idx_212q:
#             print(dong + '순위 그대로')
            status.append('그대로')
        else:
#             print(dong + '순위 올라감')
            status.append('올라감')


    correct_212q = pd.concat([ globals()['c{}_2021_2Q'.format(n)], pd.DataFrame(status).T])
    # display(c0_2017_1Q)
    # display(correct_212q)
    correct_212q = correct_212q.T
    correct_212q.columns = ['Dong', 'Count', 'Rank']
    return correct_212q

In [158]:
# 랭킹 테이블 만들어 저장
for i in range(1,8):
    globals()['c{}'.format(i)] = makeRank(i)
    globals()['c{}'.format(i)].to_csv('랭킹_'+str(i)+'_비인도데프.csv', index=False, encoding='utf-8-sig')


---


# 전세가율 테이블 생성

In [74]:
# 데이터 불러오기
df = pd.read_csv('data/cluster/2차군집8_비인도데프.csv')
print(df.shape)


df17 = df[df.quarter=="2017_1Q"]    # 17년도 1분기
df21 = df[df.quarter=="2021_2Q"]    # 21년도 2분기

(380286, 20)

In [77]:
# 보증금 Series
jeonse_17 = df17.보증금.reset_index(drop=True)    # 17년도 1분기
jeonse_21 = df21.보증금.reset_index(drop=True)    # 21년도 2분기

In [81]:
# 17년도 1분기 데이터에 전세 전체상승률 생성
df17['전세전체상승률'] = ((jeonse_21 - jeonse_17) / jeonse_17) * 100

# 17년도 1분기 데이터에 매매 전체상승률 컬럼 생성
df17['매매전체상승률'] = (((ccc - aaa) / aaa) * 100)

<ipython-input-81-7b1237015206>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [201]:
# 전세가율 Series
rate_deposit_17 = df17.전세가율.reset_index(drop=True)    # 17년도 1분기
rate_deposit_21 = df21.전세가율.reset_index(drop=True)    # 21년도 2분기

# 데이터 프레임화
rate_deposit_17 = pd.DataFrame(rate_deposit_17)
rate_deposit_21 = pd.DataFrame(rate_deposit_21)

In [202]:
# 전세가율 테이블 생성
df_result = pd.merge(rate_deposit_17, rate_deposit_21, how="left", left_index=True, right_index=True)
df_result.columns = ['전세가율_17', '전세가율_21']
df_result

       전세가율_17  전세가율_21
0       83.542   68.998
1       82.131   69.474
2       77.348   62.143
3       82.759  105.526
4       88.339   93.333
...        ...      ...
21122   79.167   67.416
21123   52.910   45.045
21124   41.379   62.500
21125   60.708   72.301
21126    9.142    8.135

[21127 rows x 2 columns]

In [204]:
# id 컬럼 추출
col_id = pd.DataFrame(df17.id.unique())

# 전세가율 테이블에 id 컬럼 추가
df_result['id'] = col_id[0]
df_result.head()

   전세가율_17  전세가율_21                           id
0   83.542   68.998  경기도 고양덕양구 고양동_고양동우방유쉘아파트_60
1   82.131   69.474  경기도 고양덕양구 고양동_고양동우방유쉘아파트_85
2   77.348   62.143          경기도 고양덕양구 고양동_삼성_60
3   82.759  105.526          경기도 고양덕양구 고양동_삼성_85
4   88.339   93.333          경기도 고양덕양구 고양동_윤창_59

In [207]:
# 조건: 17년도 전세가율이 21년도 전세가율이 더 클 때 
condition = (df_result.전세가율_17 < df_result.전세가율_21)

# 17년도 전세가율 < 21년도 전세가율 조건 컬럼 추가
df_result['17 < 21'] = condition

# 위도 경도 추가
df_result['위도'] = df17.위도
df_result['경도'] = df17.경도

# 2차군집 컬럼
df_result['2nd_cluster'] = df_result['2nd_cluster']

# 전체상승률 컬럼 추가
df_result['매매전체상승률'] = df17.매매전체상승률    # 매매상승률
df_result['전세전체상승률'] = df17.전세전체상승률    # 전세상승률

df_result

# 데이터 저장

In [130]:
df_result.to_csv("data/etc/전세가율 Table_비인도데프.csv", index=False, encoding="utf-8-sig")