In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 1000)

# 데이터 불러오기

In [16]:
# 데이터 불러오기
df_total = pd.read_csv('data/분양권/분양권_1619.csv')

# 중복데이터 제거
df_total.drop_duplicates(inplace=True)

# 불필요 컬럼 제거
df_total.drop(['id','거래유형','중개사소재지'],axis=1, inplace=True)
df_total

C:\Users\medici\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3,5,6,7,9,12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,시군구,번지,단지명,전용면적(㎡),거래금액(만원),층,계약년월,계약일,분/입구분,해제사유발생일,지역,id,거래유형,중개사소재지
0,서울특별시 강남구 개포동,138,디에이치아너힐즈,114.2062,"144,476",17,201608,12,입,NaN,서울,서울특별시 강남구 개포동 디에이치 아너힐즈,NaN,NaN
1,서울특별시 강남구 개포동,138,디에이치아너힐즈,114.2062,"139,798",7,201608,23,입,NaN,서울,NaN,NaN,NaN
2,서울특별시 강남구 개포동,138,디에이치아너힐즈,103.5749,"118,673",7,201609,6,입,NaN,서울,NaN,NaN,NaN
3,서울특별시 강남구 개포동,138,디에이치아너힐즈,103.5749,"134,571",24,201609,10,입,NaN,서울,NaN,NaN,NaN
4,서울특별시 강남구 개포동,138,디에이치아너힐즈,84.3558,"138,356",11,201609,24,입,NaN,서울,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214587,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,72.99,"47,600",34,201903,4,분,NaN,NaN,NaN,-,-
214588,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,72.99,"45,006",30,201903,6,분,NaN,NaN,NaN,-,-
214589,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,59.97,"40,600",20,201903,22,분,NaN,NaN,NaN,-,-
214590,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,59.99,"39,600",21,201903,23,분,NaN,NaN,NaN,-,-
214591,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,59.97,"41,375",21,201903,28,분,NaN,NaN,NaN,-,-

# 데이터 전처리

### 1. 열 이름 변경

In [21]:
# 열 이름 변경
df_total.columns = ['시군구', '번지', '단지명', '전용면적_미제', '거래금액', '층', '계약년월', '계약일',
                '분/입구분', '해제사유발생일','지역']

# 전용면적 자료형을 실수로 변경
df_total['전용면적_미제'] = df_total['전용면적_미제'].astype(float)
df_total

,시군구,번지,단지명,전용면적_미제,거래금액,층,계약년월,계약일,분/입구분,해제사유발생일,지역
0,서울특별시 강남구 개포동,138,디에이치아너힐즈,114.2062,"144,476",17,201608,12,입,NaN,서울
1,서울특별시 강남구 개포동,138,디에이치아너힐즈,114.2062,"139,798",7,201608,23,입,NaN,서울
2,서울특별시 강남구 개포동,138,디에이치아너힐즈,103.5749,"118,673",7,201609,6,입,NaN,서울
3,서울특별시 강남구 개포동,138,디에이치아너힐즈,103.5749,"134,571",24,201609,10,입,NaN,서울
4,서울특별시 강남구 개포동,138,디에이치아너힐즈,84.3558,"138,356",11,201609,24,입,NaN,서울
...,...,...,...,...,...,...,...,...,...,...,...
214587,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,72.99,"47,600",34,201903,4,분,NaN,NaN
214588,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,72.99,"45,006",30,201903,6,분,NaN,NaN
214589,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,59.97,"40,600",20,201903,22,분,NaN,NaN
214590,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,59.99,"39,600",21,201903,23,분,NaN,NaN
214591,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,59.97,"41,375",21,201903,28,분,NaN,NaN

### 2. 245$m^2$이상의 건물들 삭제

In [30]:
# 245m2 이상의 건물들 삭제
over245_index = df_total[df_total['전용면적_미제']>=245].index
df_total.drop(over245_index,inplace =True)
df_total

,시군구,번지,단지명,전용면적_미제,거래금액,층,계약년월,계약일,분/입구분,해제사유발생일,지역
0,서울특별시 강남구 개포동,138,디에이치아너힐즈,114.2062,"144,476",17,201608,12,입,NaN,서울
1,서울특별시 강남구 개포동,138,디에이치아너힐즈,114.2062,"139,798",7,201608,23,입,NaN,서울
2,서울특별시 강남구 개포동,138,디에이치아너힐즈,103.5749,"118,673",7,201609,6,입,NaN,서울
3,서울특별시 강남구 개포동,138,디에이치아너힐즈,103.5749,"134,571",24,201609,10,입,NaN,서울
4,서울특별시 강남구 개포동,138,디에이치아너힐즈,84.3558,"138,356",11,201609,24,입,NaN,서울
...,...,...,...,...,...,...,...,...,...,...,...
214587,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,72.9900,"47,600",34,201903,4,분,NaN,NaN
214588,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,72.9900,"45,006",30,201903,6,분,NaN,NaN
214589,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,59.9700,"40,600",20,201903,22,분,NaN,NaN
214590,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,59.9900,"39,600",21,201903,23,분,NaN,NaN
214591,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,59.9700,"41,375",21,201903,28,분,NaN,NaN

### 3. 경기도 필터링

In [32]:
# 경기도 필터링
def removeGyeonggi(df_total):
    df_total = df_total.copy()
    list_minus = ['광주시', '이천시', '안성시', '양평군', '여주시', '양주시', '포천시', '동두천시', '가평군', '연천군']

    for i in range(len(list_minus)):
        idx = df_total[df_total['시군구'].str.split(' ').str[1] == list_minus[i]].index
        df_total.drop(idx, inplace=True)
    return df_total

df_total = removeGyeonggi(df_total)
df_total

,시군구,번지,단지명,전용면적_미제,거래금액,층,계약년월,계약일,분/입구분,해제사유발생일,지역
0,서울특별시 강남구 개포동,138,디에이치아너힐즈,114.2062,"144,476",17,201608,12,입,NaN,서울
1,서울특별시 강남구 개포동,138,디에이치아너힐즈,114.2062,"139,798",7,201608,23,입,NaN,서울
2,서울특별시 강남구 개포동,138,디에이치아너힐즈,103.5749,"118,673",7,201609,6,입,NaN,서울
3,서울특별시 강남구 개포동,138,디에이치아너힐즈,103.5749,"134,571",24,201609,10,입,NaN,서울
4,서울특별시 강남구 개포동,138,디에이치아너힐즈,84.3558,"138,356",11,201609,24,입,NaN,서울
...,...,...,...,...,...,...,...,...,...,...,...
214587,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,72.9900,"47,600",34,201903,4,분,NaN,NaN
214588,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,72.9900,"45,006",30,201903,6,분,NaN,NaN
214589,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,59.9700,"40,600",20,201903,22,분,NaN,NaN
214590,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,59.9900,"39,600",21,201903,23,분,NaN,NaN
214591,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,59.9700,"41,375",21,201903,28,분,NaN,NaN

### 4. 해제사유발생일이 NaN이 아닌 데이터 삭제

In [33]:
# 해제사유발생일이 NaN이 아닌 데이터 삭제 
def removeHaeje(df_total):
    df_total = df_total.copy()
    haeje = df_total[df_total['해제사유발생일'].isna()==False]    # 해제사유발생일

    df_total.drop(haeje.index.values, inplace=True)                 # 해제사유발생일 삭제
    df_total.reset_index(drop=True,inplace=True)                   # 인덱스 재정렬
    
    return df_total

df_total = removeHaeje(df_total)
df_total.drop('해제사유발생일', axis=1, inplace=True)
df_total

,시군구,번지,단지명,전용면적_미제,거래금액,층,계약년월,계약일,분/입구분,지역
0,서울특별시 강남구 개포동,138,디에이치아너힐즈,114.2062,"144,476",17,201608,12,입,서울
1,서울특별시 강남구 개포동,138,디에이치아너힐즈,114.2062,"139,798",7,201608,23,입,서울
2,서울특별시 강남구 개포동,138,디에이치아너힐즈,103.5749,"118,673",7,201609,6,입,서울
3,서울특별시 강남구 개포동,138,디에이치아너힐즈,103.5749,"134,571",24,201609,10,입,서울
4,서울특별시 강남구 개포동,138,디에이치아너힐즈,84.3558,"138,356",11,201609,24,입,서울
...,...,...,...,...,...,...,...,...,...,...
200138,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,72.9900,"47,600",34,201903,4,분,NaN
200139,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,72.9900,"45,006",30,201903,6,분,NaN
200140,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,59.9700,"40,600",20,201903,22,분,NaN
200141,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,59.9900,"39,600",21,201903,23,분,NaN
200142,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,59.9700,"41,375",21,201903,28,분,NaN

### 5. `new_Date`, `quarter` 변수 생성

In [34]:
# new_Date 생성 함수
def newdate(df_total):
    df_total = df_total.copy()
    
    # Series 자료형을 Object로 변경
    df_total['계약년월'] = df_total['계약년월'].astype('O')
    df_total['계약일'] = df_total['계약일'].astype('O')
 
    l = []                                         # new_Date 데이터를 담을 리스트
    q = []                                         # quater 데이터를 담을 리스트
    for i in range(len(df_total.index.values)):
        year = str(df_total['계약년월'].iloc[i])[0:4]    # 년
        month = str(df_total['계약년월'].iloc[i])[4:]    # 월
        day = str(df_total['계약일'].iloc[i])            # 일
        
        # new_Date 리스트에 'yyyy-MM-dd' 형태로 데이터 추가
        l.append(year+'-'+month+'-'+day)
        
        # month를 숫자로 바꿔서 부등호조건 활용해서 쿼터 나누고 리스트에 담기.
        month = int(month)
        if month < 4:
            q.append(year+'_1Q')
        elif month < 7:
            q.append(year+'_2Q')
        elif month < 10:
            q.append(year+'_3Q')
        elif month < 13:
            q.append(year+'_4Q')
            
    # 파생변수 new_Date 생성        
    df_total['new_Date'] = l
    df_total['new_Date'] = pd.to_datetime(df_total['new_Date'])    # timestamp 자료형 전환
    
    # 파생변수 quater 생성
    df_total['quarter'] = q
    
    return df_total

df_total = newdate(df_total)
df_total

,시군구,번지,단지명,전용면적_미제,거래금액,층,계약년월,계약일,분/입구분,지역,new_Date,quarter
0,서울특별시 강남구 개포동,138,디에이치아너힐즈,114.2062,"144,476",17,201608,12,입,서울,2016-08-12,2016_3Q
1,서울특별시 강남구 개포동,138,디에이치아너힐즈,114.2062,"139,798",7,201608,23,입,서울,2016-08-23,2016_3Q
2,서울특별시 강남구 개포동,138,디에이치아너힐즈,103.5749,"118,673",7,201609,6,입,서울,2016-09-06,2016_3Q
3,서울특별시 강남구 개포동,138,디에이치아너힐즈,103.5749,"134,571",24,201609,10,입,서울,2016-09-10,2016_3Q
4,서울특별시 강남구 개포동,138,디에이치아너힐즈,84.3558,"138,356",11,201609,24,입,서울,2016-09-24,2016_3Q
...,...,...,...,...,...,...,...,...,...,...,...,...
200138,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,72.9900,"47,600",34,201903,4,분,NaN,2019-03-04,2019_1Q
200139,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,72.9900,"45,006",30,201903,6,분,NaN,2019-03-06,2019_1Q
200140,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,59.9700,"40,600",20,201903,22,분,NaN,2019-03-22,2019_1Q
200141,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,59.9900,"39,600",21,201903,23,분,NaN,2019-03-23,2019_1Q
200142,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,59.9700,"41,375",21,201903,28,분,NaN,2019-03-28,2019_1Q

### 6. `자치구_동` 컬럼 생성

In [35]:
# 자치궈_동 생성
def makeDong(df_total):
    df_total = df_total.copy()
    df_total['자치구_동'] = 'NaN'

    df_total['자치구_동'] = df_total['시군구'].str.split(' ').str[3]
    df_total.loc[df_total['자치구_동'].isna() == True,'자치구_동'] = df_total['시군구'].str.split(' ').str[2]

    return df_total

# 매매, 전월세 데이터에 자치구_동 생성
df_total = makeDong(df_total)

### 7. `전용면적_미제` 올림처리

In [37]:
# 전용면적_미제 올림처리
from math import ceil

def ceilArea(df):
    df = df.copy()
    df['전용면적_미제'] = df['전용면적_미제'].apply(lambda x: ceil(x))
    df['전용면적_미제']

    return df

df_total = ceilArea(df_total)
df_total

,시군구,번지,단지명,전용면적_미제,거래금액,층,계약년월,계약일,분/입구분,지역,new_Date,quarter,자치구_동
0,서울특별시 강남구 개포동,138,디에이치아너힐즈,115,"144,476",17,201608,12,입,서울,2016-08-12,2016_3Q,개포동
1,서울특별시 강남구 개포동,138,디에이치아너힐즈,115,"139,798",7,201608,23,입,서울,2016-08-23,2016_3Q,개포동
2,서울특별시 강남구 개포동,138,디에이치아너힐즈,104,"118,673",7,201609,6,입,서울,2016-09-06,2016_3Q,개포동
3,서울특별시 강남구 개포동,138,디에이치아너힐즈,104,"134,571",24,201609,10,입,서울,2016-09-10,2016_3Q,개포동
4,서울특별시 강남구 개포동,138,디에이치아너힐즈,85,"138,356",11,201609,24,입,서울,2016-09-24,2016_3Q,개포동
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200138,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,73,"47,600",34,201903,4,분,NaN,2019-03-04,2019_1Q,송도동
200139,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,73,"45,006",30,201903,6,분,NaN,2019-03-06,2019_1Q,송도동
200140,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,60,"40,600",20,201903,22,분,NaN,2019-03-22,2019_1Q,송도동
200141,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,60,"39,600",21,201903,23,분,NaN,2019-03-23,2019_1Q,송도동
200142,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,60,"41,375",21,201903,28,분,NaN,2019-03-28,2019_1Q,송도동

### 8. `id` = `시군구` + `단지명` + `전용면적_미제`

In [38]:
# 시군구, 번지, 단지명, 전용면적_미제로 id 변수 파생
def makeID(df):
    df = df.copy()
    df['id'] = df.시군구 +'_'+ df.단지명 +'_'+ df.전용면적_미제.astype(str)
    return df

df_total = makeID(df_total)
df_total

,시군구,번지,단지명,전용면적_미제,거래금액,층,계약년월,계약일,분/입구분,지역,new_Date,quarter,자치구_동,id
0,서울특별시 강남구 개포동,138,디에이치아너힐즈,115,"144,476",17,201608,12,입,서울,2016-08-12,2016_3Q,개포동,서울특별시 강남구 개포동_디에이치아너힐즈_115
1,서울특별시 강남구 개포동,138,디에이치아너힐즈,115,"139,798",7,201608,23,입,서울,2016-08-23,2016_3Q,개포동,서울특별시 강남구 개포동_디에이치아너힐즈_115
2,서울특별시 강남구 개포동,138,디에이치아너힐즈,104,"118,673",7,201609,6,입,서울,2016-09-06,2016_3Q,개포동,서울특별시 강남구 개포동_디에이치아너힐즈_104
3,서울특별시 강남구 개포동,138,디에이치아너힐즈,104,"134,571",24,201609,10,입,서울,2016-09-10,2016_3Q,개포동,서울특별시 강남구 개포동_디에이치아너힐즈_104
4,서울특별시 강남구 개포동,138,디에이치아너힐즈,85,"138,356",11,201609,24,입,서울,2016-09-24,2016_3Q,개포동,서울특별시 강남구 개포동_디에이치아너힐즈_85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200138,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,73,"47,600",34,201903,4,분,NaN,2019-03-04,2019_1Q,송도동,인천광역시 연수구 송도동_송도 더샵 센트럴시티_73
200139,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,73,"45,006",30,201903,6,분,NaN,2019-03-06,2019_1Q,송도동,인천광역시 연수구 송도동_송도 더샵 센트럴시티_73
200140,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,60,"40,600",20,201903,22,분,NaN,2019-03-22,2019_1Q,송도동,인천광역시 연수구 송도동_송도 더샵 센트럴시티_60
200141,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,60,"39,600",21,201903,23,분,NaN,2019-03-23,2019_1Q,송도동,인천광역시 연수구 송도동_송도 더샵 센트럴시티_60
200142,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,60,"41,375",21,201903,28,분,NaN,2019-03-28,2019_1Q,송도동,인천광역시 연수구 송도동_송도 더샵 센트럴시티_60

### 9. 거래금액 백만단위로 설정

In [39]:
# 거래금액 백만단위로 조정
def changeMillion(df_total, keyword='매매'):
    df_total = df_total.copy()
    if keyword == '매매':
        df_total['거래금액'] = df_total['거래금액'].str.replace(',','')
        df_total['거래금액'] = df_total['거래금액'].astype(int)
        df_total['거래금액'] = df_total['거래금액']/100
    return df_total
df_total = changeMillion(df_total)

df_total

,시군구,번지,단지명,전용면적_미제,거래금액,층,계약년월,계약일,분/입구분,지역,new_Date,quarter,자치구_동,id
0,서울특별시 강남구 개포동,138,디에이치아너힐즈,115,1444.76,17,201608,12,입,서울,2016-08-12,2016_3Q,개포동,서울특별시 강남구 개포동_디에이치아너힐즈_115
1,서울특별시 강남구 개포동,138,디에이치아너힐즈,115,1397.98,7,201608,23,입,서울,2016-08-23,2016_3Q,개포동,서울특별시 강남구 개포동_디에이치아너힐즈_115
2,서울특별시 강남구 개포동,138,디에이치아너힐즈,104,1186.73,7,201609,6,입,서울,2016-09-06,2016_3Q,개포동,서울특별시 강남구 개포동_디에이치아너힐즈_104
3,서울특별시 강남구 개포동,138,디에이치아너힐즈,104,1345.71,24,201609,10,입,서울,2016-09-10,2016_3Q,개포동,서울특별시 강남구 개포동_디에이치아너힐즈_104
4,서울특별시 강남구 개포동,138,디에이치아너힐즈,85,1383.56,11,201609,24,입,서울,2016-09-24,2016_3Q,개포동,서울특별시 강남구 개포동_디에이치아너힐즈_85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200138,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,73,476.00,34,201903,4,분,NaN,2019-03-04,2019_1Q,송도동,인천광역시 연수구 송도동_송도 더샵 센트럴시티_73
200139,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,73,450.06,30,201903,6,분,NaN,2019-03-06,2019_1Q,송도동,인천광역시 연수구 송도동_송도 더샵 센트럴시티_73
200140,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,60,406.00,20,201903,22,분,NaN,2019-03-22,2019_1Q,송도동,인천광역시 연수구 송도동_송도 더샵 센트럴시티_60
200141,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,60,396.00,21,201903,23,분,NaN,2019-03-23,2019_1Q,송도동,인천광역시 연수구 송도동_송도 더샵 센트럴시티_60
200142,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,60,413.75,21,201903,28,분,NaN,2019-03-28,2019_1Q,송도동,인천광역시 연수구 송도동_송도 더샵 센트럴시티_60

### 10. `분/입구분` 삭제

In [40]:
# 분/입구분 삭제
df_total.drop('분/입구분',axis=1, inplace=True)
df_total

,시군구,번지,단지명,전용면적_미제,거래금액,층,계약년월,계약일,지역,new_Date,quarter,자치구_동,id
0,서울특별시 강남구 개포동,138,디에이치아너힐즈,115,1444.76,17,201608,12,서울,2016-08-12,2016_3Q,개포동,서울특별시 강남구 개포동_디에이치아너힐즈_115
1,서울특별시 강남구 개포동,138,디에이치아너힐즈,115,1397.98,7,201608,23,서울,2016-08-23,2016_3Q,개포동,서울특별시 강남구 개포동_디에이치아너힐즈_115
2,서울특별시 강남구 개포동,138,디에이치아너힐즈,104,1186.73,7,201609,6,서울,2016-09-06,2016_3Q,개포동,서울특별시 강남구 개포동_디에이치아너힐즈_104
3,서울특별시 강남구 개포동,138,디에이치아너힐즈,104,1345.71,24,201609,10,서울,2016-09-10,2016_3Q,개포동,서울특별시 강남구 개포동_디에이치아너힐즈_104
4,서울특별시 강남구 개포동,138,디에이치아너힐즈,85,1383.56,11,201609,24,서울,2016-09-24,2016_3Q,개포동,서울특별시 강남구 개포동_디에이치아너힐즈_85
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200138,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,73,476.00,34,201903,4,NaN,2019-03-04,2019_1Q,송도동,인천광역시 연수구 송도동_송도 더샵 센트럴시티_73
200139,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,73,450.06,30,201903,6,NaN,2019-03-06,2019_1Q,송도동,인천광역시 연수구 송도동_송도 더샵 센트럴시티_73
200140,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,60,406.00,20,201903,22,NaN,2019-03-22,2019_1Q,송도동,인천광역시 연수구 송도동_송도 더샵 센트럴시티_60
200141,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,60,396.00,21,201903,23,NaN,2019-03-23,2019_1Q,송도동,인천광역시 연수구 송도동_송도 더샵 센트럴시티_60
200142,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,60,413.75,21,201903,28,NaN,2019-03-28,2019_1Q,송도동,인천광역시 연수구 송도동_송도 더샵 센트럴시티_60

### 11. `지번주소` 컬럼 생성

In [41]:
def bonbuToBeonji(df):
    df = df.copy()
    df['지번주소'] = 'NaN'
    
    df.지번주소 = df.시군구 + ' ' + df.번지
    
    return df

df_total= bonbuToBeonji(df_total)
df_total

,시군구,번지,단지명,전용면적_미제,거래금액,층,계약년월,계약일,지역,new_Date,quarter,자치구_동,id,지번주소
0,서울특별시 강남구 개포동,138,디에이치아너힐즈,115,1444.76,17,201608,12,서울,2016-08-12,2016_3Q,개포동,서울특별시 강남구 개포동_디에이치아너힐즈_115,서울특별시 강남구 개포동 138
1,서울특별시 강남구 개포동,138,디에이치아너힐즈,115,1397.98,7,201608,23,서울,2016-08-23,2016_3Q,개포동,서울특별시 강남구 개포동_디에이치아너힐즈_115,서울특별시 강남구 개포동 138
2,서울특별시 강남구 개포동,138,디에이치아너힐즈,104,1186.73,7,201609,6,서울,2016-09-06,2016_3Q,개포동,서울특별시 강남구 개포동_디에이치아너힐즈_104,서울특별시 강남구 개포동 138
3,서울특별시 강남구 개포동,138,디에이치아너힐즈,104,1345.71,24,201609,10,서울,2016-09-10,2016_3Q,개포동,서울특별시 강남구 개포동_디에이치아너힐즈_104,서울특별시 강남구 개포동 138
4,서울특별시 강남구 개포동,138,디에이치아너힐즈,85,1383.56,11,201609,24,서울,2016-09-24,2016_3Q,개포동,서울특별시 강남구 개포동_디에이치아너힐즈_85,서울특별시 강남구 개포동 138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200138,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,73,476.00,34,201903,4,NaN,2019-03-04,2019_1Q,송도동,인천광역시 연수구 송도동_송도 더샵 센트럴시티_73,인천광역시 연수구 송도동 190-4
200139,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,73,450.06,30,201903,6,NaN,2019-03-06,2019_1Q,송도동,인천광역시 연수구 송도동_송도 더샵 센트럴시티_73,인천광역시 연수구 송도동 190-4
200140,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,60,406.00,20,201903,22,NaN,2019-03-22,2019_1Q,송도동,인천광역시 연수구 송도동_송도 더샵 센트럴시티_60,인천광역시 연수구 송도동 190-4
200141,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,60,396.00,21,201903,23,NaN,2019-03-23,2019_1Q,송도동,인천광역시 연수구 송도동_송도 더샵 센트럴시티_60,인천광역시 연수구 송도동 190-4
200142,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,60,413.75,21,201903,28,NaN,2019-03-28,2019_1Q,송도동,인천광역시 연수구 송도동_송도 더샵 센트럴시티_60,인천광역시 연수구 송도동 190-4

### 12. `전용면적_미제`로부터 `전용면적_평` 변수 파생.

In [43]:
# 미터제곱 전용면적을 평수로 바꿔 변수로 저장
def meterToPyeong(df):
    df = df.copy()
    df['전용면적_평'] = df['전용면적_미제'] / 3.305785
    df['전용면적_평'] = df['전용면적_평'].round()
    return df

df_total = meterToPyeong(df_total)
df_total

,시군구,번지,단지명,전용면적_미제,거래금액,층,계약년월,계약일,지역,new_Date,quarter,자치구_동,id,지번주소,전용면적_평
0,서울특별시 강남구 개포동,138,디에이치아너힐즈,115,1444.76,17,201608,12,서울,2016-08-12,2016_3Q,개포동,서울특별시 강남구 개포동_디에이치아너힐즈_115,서울특별시 강남구 개포동 138,35.0
1,서울특별시 강남구 개포동,138,디에이치아너힐즈,115,1397.98,7,201608,23,서울,2016-08-23,2016_3Q,개포동,서울특별시 강남구 개포동_디에이치아너힐즈_115,서울특별시 강남구 개포동 138,35.0
2,서울특별시 강남구 개포동,138,디에이치아너힐즈,104,1186.73,7,201609,6,서울,2016-09-06,2016_3Q,개포동,서울특별시 강남구 개포동_디에이치아너힐즈_104,서울특별시 강남구 개포동 138,31.0
3,서울특별시 강남구 개포동,138,디에이치아너힐즈,104,1345.71,24,201609,10,서울,2016-09-10,2016_3Q,개포동,서울특별시 강남구 개포동_디에이치아너힐즈_104,서울특별시 강남구 개포동 138,31.0
4,서울특별시 강남구 개포동,138,디에이치아너힐즈,85,1383.56,11,201609,24,서울,2016-09-24,2016_3Q,개포동,서울특별시 강남구 개포동_디에이치아너힐즈_85,서울특별시 강남구 개포동 138,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200138,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,73,476.00,34,201903,4,NaN,2019-03-04,2019_1Q,송도동,인천광역시 연수구 송도동_송도 더샵 센트럴시티_73,인천광역시 연수구 송도동 190-4,22.0
200139,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,73,450.06,30,201903,6,NaN,2019-03-06,2019_1Q,송도동,인천광역시 연수구 송도동_송도 더샵 센트럴시티_73,인천광역시 연수구 송도동 190-4,22.0
200140,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,60,406.00,20,201903,22,NaN,2019-03-22,2019_1Q,송도동,인천광역시 연수구 송도동_송도 더샵 센트럴시티_60,인천광역시 연수구 송도동 190-4,18.0
200141,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,60,396.00,21,201903,23,NaN,2019-03-23,2019_1Q,송도동,인천광역시 연수구 송도동_송도 더샵 센트럴시티_60,인천광역시 연수구 송도동 190-4,18.0
200142,인천광역시 연수구 송도동,190-4,송도 더샵 센트럴시티,60,413.75,21,201903,28,NaN,2019-03-28,2019_1Q,송도동,인천광역시 연수구 송도동_송도 더샵 센트럴시티_60,인천광역시 연수구 송도동 190-4,18.0

In [44]:
# 열 재정렬
df_total = df_total[['시군구', '번지', '단지명', '전용면적_미제', '계약년월', '계약일', '거래금액', '층', '지역', '전용면적_평', '지번주소', 'new_Date', 'quarter', '자치구_동', 'id']]

In [47]:
# 데이터 저장
df_total.to_csv('data/분양권/비인도데프_분양데이터.csv', index=False, encoding='utf-8-sig')

# 분양권 데이터 Grouping

In [50]:
# id, quarter 별로 grouping
df_g = df_total.groupby(['id','quarter'],as_index=False).mean()
df_g

,id,quarter,전용면적_미제,거래금액,전용면적_평
0,경기도 고양덕양구 덕은동_고양덕은지구 A5블록 대방노블랜드_85,2019_3Q,85,709.050000,26.0
1,경기도 고양덕양구 도내동_고양원흥동일스위트_55,2017_2Q,55,391.250000,17.0
2,경기도 고양덕양구 도내동_고양원흥동일스위트_85,2016_3Q,85,380.736802,26.0
3,경기도 고양덕양구 도내동_고양원흥동일스위트_85,2016_4Q,85,382.124182,26.0
4,경기도 고양덕양구 도내동_고양원흥동일스위트_85,2017_1Q,85,383.206250,26.0
...,...,...,...,...,...
16354,인천광역시 중구 중산동_하늘도시 한라비발디_102,2017_3Q,102,355.000000,31.0
16355,인천광역시 중구 중산동_하늘도시 한라비발디_102,2019_2Q,102,325.000000,31.0
16356,인천광역시 중구 중산동_하늘도시우미린1단지_49,2017_3Q,49,200.000000,15.0
16357,인천광역시 중구 중산동_하늘도시우미린2단지_85,2018_4Q,85,285.000000,26.0
16358,인천광역시 중구 중산동_하늘도시우미린2단지_85,2019_3Q,85,313.500000,26.0

In [56]:
from tqdm import tqdm
df_temp = df_g.drop_duplicates(['id'],keep='first')

df_list = []

# 모든 id에 각각 2017_1Q~2021_2Q를 넣은 테이블을 생성하는 함수
def make_quater(df):
    quater_list = ['2016_1Q', '2016_2Q', '2016_3Q', '2016_4Q',
                   '2017_1Q', '2017_2Q', '2017_3Q', '2017_4Q',
                   '2018_1Q', '2018_2Q', '2018_3Q', '2018_4Q',
                   '2019_1Q', '2019_2Q', '2019_3Q', '2019_4Q']
    for item in tqdm(quater_list):
        globals()['df_{}'.format(item)] = df.copy()
        globals()['df_{}'.format(item)]['quarter'] = str(item)
        df_list.append(globals()['df_{}'.format(item)])
        
    return

# df_temp에 함수 적용
make_quater(df_temp)

# df_2017_1Q ~ df_2019_4Q 테이블 이어붙인 df_temp2 테이블 생성
df_temp2 = pd.concat(df_list,axis=0)
# df_temp2[['보증금','거래금액','주택담보대출금리','월세','전월세전환율','전세보증금']] = 0

# 여기서 id, quater만 뽑으면 id에 맞게 2017_1Q ~ 2021_2Q가 들어있는 데이터 완성.
df_temp2 = df_temp2[['id','quarter']]
df_temp2

100%|██████████| 16/16 [00:00<00:00, 4031.05it/s]

                                        id  quarter
0      경기도 고양덕양구 덕은동_고양덕은지구 A5블록 대방노블랜드_85  2016_1Q
1               경기도 고양덕양구 도내동_고양원흥동일스위트_55  2016_1Q
2               경기도 고양덕양구 도내동_고양원흥동일스위트_85  2016_1Q
10       경기도 고양덕양구 도내동_원흥호반베르디움더퍼스트5단지_102  2016_1Q
16        경기도 고양덕양구 도내동_원흥호반베르디움더퍼스트5단지_70  2016_1Q
...                                    ...      ...
16346              인천광역시 중구 중산동_영종힐스테이트_84  2019_4Q
16351          인천광역시 중구 중산동_인천영종 동보노빌리티_85  2019_4Q
16353          인천광역시 중구 중산동_하늘도시 한라비발디_102  2019_4Q
16356           인천광역시 중구 중산동_하늘도시우미린1단지_49  2019_4Q
16357           인천광역시 중구 중산동_하늘도시우미린2단지_85  2019_4Q

[64160 rows x 2 columns]

In [57]:
# df_temp2 테이블에 df_mae_g를 right join
df_merge = pd.merge(df_g,df_temp2[['id','quarter']], how='right',on=['id','quarter'])
display(df_merge)
# id, quater 기준으로 재배열
df_merge = df_merge.sort_values(['id','quarter'])
df_merge.reset_index(drop=True, inplace=True)
display(df_merge)
# df_merge_2 = df_merge_2.reset_index()

                                        id  quarter  전용면적_미제  거래금액  전용면적_평
0      경기도 고양덕양구 덕은동_고양덕은지구 A5블록 대방노블랜드_85  2016_1Q      NaN   NaN     NaN
1               경기도 고양덕양구 도내동_고양원흥동일스위트_55  2016_1Q      NaN   NaN     NaN
2               경기도 고양덕양구 도내동_고양원흥동일스위트_85  2016_1Q      NaN   NaN     NaN
3        경기도 고양덕양구 도내동_원흥호반베르디움더퍼스트5단지_102  2016_1Q      NaN   NaN     NaN
4         경기도 고양덕양구 도내동_원흥호반베르디움더퍼스트5단지_70  2016_1Q      NaN   NaN     NaN
...                                    ...      ...      ...   ...     ...
64155              인천광역시 중구 중산동_영종힐스테이트_84  2019_4Q      NaN   NaN     NaN
64156          인천광역시 중구 중산동_인천영종 동보노빌리티_85  2019_4Q      NaN   NaN     NaN
64157          인천광역시 중구 중산동_하늘도시 한라비발디_102  2019_4Q      NaN   NaN     NaN
64158           인천광역시 중구 중산동_하늘도시우미린1단지_49  2019_4Q      NaN   NaN     NaN
64159           인천광역시 중구 중산동_하늘도시우미린2단지_85  2019_4Q      NaN   NaN     NaN

[64160 rows x 5 columns]

                                        id  quarter  전용면적_미제   거래금액  전용면적_평
0      경기도 고양덕양구 덕은동_고양덕은지구 A5블록 대방노블랜드_85  2016_1Q      NaN    NaN     NaN
1      경기도 고양덕양구 덕은동_고양덕은지구 A5블록 대방노블랜드_85  2016_2Q      NaN    NaN     NaN
2      경기도 고양덕양구 덕은동_고양덕은지구 A5블록 대방노블랜드_85  2016_3Q      NaN    NaN     NaN
3      경기도 고양덕양구 덕은동_고양덕은지구 A5블록 대방노블랜드_85  2016_4Q      NaN    NaN     NaN
4      경기도 고양덕양구 덕은동_고양덕은지구 A5블록 대방노블랜드_85  2017_1Q      NaN    NaN     NaN
...                                    ...      ...      ...    ...     ...
64155           인천광역시 중구 중산동_하늘도시우미린2단지_85  2018_4Q     85.0  285.0    26.0
64156           인천광역시 중구 중산동_하늘도시우미린2단지_85  2019_1Q      NaN    NaN     NaN
64157           인천광역시 중구 중산동_하늘도시우미린2단지_85  2019_2Q      NaN    NaN     NaN
64158           인천광역시 중구 중산동_하늘도시우미린2단지_85  2019_3Q     85.0  313.5    26.0
64159           인천광역시 중구 중산동_하늘도시우미린2단지_85  2019_4Q      NaN    NaN     NaN

[64160 rows x 5 columns]

In [58]:
# 데이터 저장
df_merge.to_csv('data/분양권/비인도데프_분양데이터.csv', index=False, encoding='utf-8-sig')