In [3]:
import pandas as pd
import numpy as np
from math import ceil
from tqdm import tqdm

# 데이터 불러오기

In [6]:
# 데이터 불러오기
def takeData(t):
    # 서울
    df_seoul_2014 = pd.read_csv('data/' + t + '/서울_2014_' + t + '.csv',encoding='euc-kr')    # 2014
    df_seoul_2015 = pd.read_csv('data/' + t + '/서울_2015_' + t + '.csv',encoding='euc-kr')    # 2015
    df_seoul_2016 = pd.read_csv('data/' + t + '/서울_2016_' + t + '.csv',encoding='euc-kr')    # 2016
    df_seoul_2017 = pd.read_csv('data/' + t + '/서울_2017_' + t + '.csv',encoding='euc-kr')    # 2017
    df_seoul_2018 = pd.read_csv('data/' + t + '/서울_2018_' + t + '.csv',encoding='euc-kr')    # 2018
    df_seoul_2019 = pd.read_csv('data/' + t + '/서울_2019_' + t + '.csv',encoding='euc-kr')    # 2019
    df_seoul_2020 = pd.read_csv('data/' + t + '/서울_2020_' + t + '.csv',encoding='euc-kr')    # 2020
    df_seoul_2021 = pd.read_csv('data/' + t + '/서울_2021_' + t + '.csv',encoding='euc-kr')    # 2021
    
    # 14~21 서울 데이터 생성
    df_seoul = pd.concat([df_seoul_2014,
                          df_seoul_2015,
                          df_seoul_2016,
                          df_seoul_2017,
                          df_seoul_2018,
                          df_seoul_2019,
                          df_seoul_2020,
                          df_seoul_2021])
    
    # 지역 컬럼 생성
    df_seoul['지역'] = '서울'
    # 인덱스 재정렬
    df_seoul.reset_index(drop=True, inplace=True)
    # 데이터 저장
    df_seoul.to_csv('data/1421/df_seoul_' + t + '_1421.csv', index=False, encoding='utf-8-sig')
    
    # ----------------------------------------------------------------------------------------------------------------
    # 경기
    df_gyeonggido_2014 = pd.read_csv('data/' + t + '/경기도_2014_' + t + '.csv',encoding='euc-kr')    # 2014
    df_gyeonggido_2015 = pd.read_csv('data/' + t + '/경기도_2015_' + t + '.csv',encoding='euc-kr')    # 2015
    df_gyeonggido_2016 = pd.read_csv('data/' + t + '/경기도_2016_' + t + '.csv',encoding='euc-kr')    # 2016
    df_gyeonggido_2017 = pd.read_csv('data/' + t + '/경기도_2017_' + t + '.csv',encoding='euc-kr')    # 2017
    df_gyeonggido_2018 = pd.read_csv('data/' + t + '/경기도_2018_' + t + '.csv',encoding='euc-kr')    # 2018
    df_gyeonggido_2019 = pd.read_csv('data/' + t + '/경기도_2019_' + t + '.csv',encoding='euc-kr')    # 2019
    df_gyeonggido_2020 = pd.read_csv('data/' + t + '/경기도_2020_' + t + '.csv',encoding='euc-kr')    # 2020
    df_gyeonggido_2021 = pd.read_csv('data/' + t + '/경기도_2021_' + t + '.csv',encoding='euc-kr')    # 2021

    # 14~21 경기도 데이터 생성
    df_gyeonggido = pd.concat([df_gyeonggido_2014,
                               df_gyeonggido_2015,
                               df_gyeonggido_2016,
                               df_gyeonggido_2017,
                               df_gyeonggido_2018,
                               df_gyeonggido_2019,
                               df_gyeonggido_2020,
                               df_gyeonggido_2021])
    
    # 지역 컬럼 생성
    df_gyeonggido['지역'] = '경기'
    # 인덱스 재정렬
    df_gyeonggido.reset_index(drop=True, inplace=True)
    # 데이터 저장
    df_gyeonggido.to_csv('data/1421/df_gyeonggi_' + t + '_1421.csv', index=False, encoding='utf-8-sig')
    
    # ----------------------------------------------------------------------------------------------------------------
    # 인천
    df_incheon_2014 = pd.read_csv('data/' + t + '/인천_2014_' + t + '.csv',encoding='euc-kr')    # 2014
    df_incheon_2015 = pd.read_csv('data/' + t + '/인천_2015_' + t + '.csv',encoding='euc-kr')    # 2015
    df_incheon_2016 = pd.read_csv('data/' + t + '/인천_2016_' + t + '.csv',encoding='euc-kr')    # 2016
    df_incheon_2017 = pd.read_csv('data/' + t + '/인천_2017_' + t + '.csv',encoding='euc-kr')    # 2017
    df_incheon_2018 = pd.read_csv('data/' + t + '/인천_2018_' + t + '.csv',encoding='euc-kr')    # 2018
    df_incheon_2019 = pd.read_csv('data/' + t + '/인천_2019_' + t + '.csv',encoding='euc-kr')    # 2019
    df_incheon_2020 = pd.read_csv('data/' + t + '/인천_2020_' + t + '.csv',encoding='euc-kr')    # 2020
    df_incheon_2021 = pd.read_csv('data/' + t + '/인천_2021_' + t + '.csv',encoding='euc-kr')    # 2021

    # 14~21 인천 데이터 생성
    df_incheon = pd.concat([df_incheon_2014,
                            df_incheon_2015,
                            df_incheon_2016,
                            df_incheon_2017,
                            df_incheon_2018,
                            df_incheon_2019,
                            df_incheon_2020,
                            df_incheon_2021])
    
    # 지역 컬럼 생성
    df_incheon['지역'] = '인천'
    # 인덱스 재정렬
    df_incheon.reset_index(drop=True, inplace=True)
    # 데이터 저장
    df_incheon.to_csv('data/1421/df_incheon_' + t + '_1421.csv', index=False, encoding='utf-8-sig')

    # ----------------------------------------------------------------------------------------------------------------
    # 전체
    df_total = pd.concat([df_seoul, df_gyeonggido, df_incheon])
    # 인덱스 재정렬
    df_total.reset_index(drop=True, inplace=True)
    df_total.to_csv('data/1421/df_total_' + t + '_1421.csv', index=False, encoding='utf-8-sig')
    return 

takeData('매매')
takeData('전월세')

C:\Users\medici\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (1,2,10) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
C:\Users\medici\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (2,10) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

# 매매 & 전월세 데이터 정의

In [3]:
# 매매, 전월세 데이터 불러오기
df_mae = pd.read_csv('data/1421/df_total_매매_1421.csv')        # 매매
df_jeonwol = pd.read_csv('data/1421/df_total_전월세_1421.csv')  # 전월세

C:\Users\medici\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\medici\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2,10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
# 데이터 shape 확인
def dp():
    display(df_mae.shape)
    display(df_jeonwol.shape)
dp()

(2360679, 14)

(3209047, 15)

In [6]:
# 중복데이터 제거
df_mae.drop_duplicates(inplace=True)
df_mae.drop_duplicates(inplace=True)
dp()

(2350781, 14)

(3209047, 15)

# 공통 전처리

1. 컬럼 이름 재정의
    - 매매
        - `전용면적(㎡)` -> `전용면적_미제`
        - `거래금액(만원)` -> `거래금액`
    - 전월세
        - `전용면적(㎡)` -> `전용면적_미제`
        - `보증금(만원)` -> `거래금액`
        - `월세(만원)` -> `월세`
2. `층`이 1층인 데이터 제거
3. `전용면적` $245m^2$ 이상인 데이터 삭제
4. 경기도 지역 필터링
5. `해제사유발생일` 데이터 중 NaN이 아닌 데이터는 삭제.
6. `전용면적_미제`로부터 `전용면적_평` 변수 파생.
7. `전용면적_미제` 올림처리.
8. [도로명 주소 안내시스템 사이트]((https://www.juso.go.kr/openIndexPage.do)에 들어가 도로명에 맞는 본번과 부번을 입력
 - 결측치 처리
 - 본번에 `00A2` 등의 이상값 처리.
9. `본번`과 `부번`으로 `번지`를 파생시키는 함수
10. `계약년월`과 `계약일`로 `new_Date` 시계열변수와 `quater` 범주형변수 파생.
11. `시군구`에서 `자치구_동` 파생
12. `거래금액` 백 만단위 수치형 변수로 변환
13. `도로명` 컬럼 삭제
14. `시군구`, `단지명`, `전용면적_미제`로 `id` 변수 파생.

### 1. 컬럼 이름 재정의
- 매매
  - `전용면적(㎡)` -> `전용면적_미제`
  - `거래금액(만원)` -> `거래금액`
  
  
- 전월세
  - `전용면적(㎡)` -> `전용면적_미제`
  - `보증금(만원)` -> `거래금액`
  - `월세(만원)` -> `월세`

In [7]:
# 컬럼 이름 재정의
def renameColumns(df, keyword):
    df = df.copy()
    if keyword == '매매':
        df.columns = ['시군구', '번지', '본번', '부번', '단지명', '전용면적_미제', '계약년월', '계약일',
               '거래금액', '층', '건축년도', '도로명', '해제사유발생일','지역']
    else:
        # 컬럼 이름 재정의
        df.columns = ['시군구', '번지', '본번', '부번', '단지명', '전월세구분', '전용면적_미제', '계약년월', '계약일',
       '보증금', '월세', '층', '건축년도', '도로명','지역']
    return df

# 매매, 전월세 데이터에 각각 적용
df_mae = renameColumns(df_mae,'매매')
df_jeonwol = renameColumns(df_jeonwol,'전월세')

### 2. `층`이 1층인 데이터 제거

In [8]:
# 1층 데이터 삭제
def remove1F(df):
    df = df.copy()
    floor_1st_mae = df[df['층'] == 1].index.values
    df.drop(floor_1st_mae, inplace=True)
    return df

# 매매, 전월세 데이터에 각각 적용
df_mae = remove1F(df_mae)
df_jeonwol = remove1F(df_jeonwol)

### 3. `전용면적` $245m^2$ 이상인 데이터 삭제

In [9]:
# 245m2 이상의 전용면적을 삭제
def remove245(df):
    df = df.copy()
    over245_index = df[df['전용면적_미제']>=245].index
    df.drop(over245_index,inplace =True)
    return df

# 매매, 전월세 데이터에 각각 적용
df_mae = remove245(df_mae)
df_jeonwol = remove245(df_jeonwol)

### 4. 경기도 지역 필터링
- 9.30: 광명, 과천, 의왕 제거
- 선정한 경기도 지역:   
용인, 화성, 수원, 오산, 시흥, 안양, 의왕, 군포, 안산, 광명, 부천, 김포, 고양, 파주, 의정부, 남양주, 구리, 하남, 성남, 광명, 과천, 의왕, 평택

In [10]:
# 경기도 지역 필터링
def removeGyeonggi(df):
    df = df.copy()
    df['구'] = df['시군구'].str.split(' ').str[1]
    set_minus = {'광주시', '이천시', '안성시', '양평군', '여주시', '양주시', '포천시', '동두천시', '가평군', '연천군'}
    
    gu_remainder = set(df_mae['시군구'].str.split(' ').str[1].unique()) - set_minus
    df = df[df['구'].isin(gu_remainder)]
    df.drop('구', axis=1, inplace=True)
    return df

# 매매, 전월세 데이터에 각각 적용
df_mae = removeGyeonggi(df_mae)
df_jeonwol = removeGyeonggi(df_jeonwol)

### 5. `해제사유발생일` 데이터 전처리.

In [11]:
# 해제사유발생일이 존재하는 값 조회해서 삭제
def removeHaeje(df):
    df = df.copy()
    haeje = df_mae[df_mae['해제사유발생일'].isna()==False]    # 해제사유발생일

    df.drop(haeje.index.values, inplace=True)                 # 해제사유발생일 삭제
    df.reset_index(drop=True,inplace=True)                   # 인덱스 재정렬
    
    return df

# 매매, 전월세 데이터에 각각 적용
df_mae = removeHaeje(df_mae)
df_mae.drop('해제사유발생일', axis=1, inplace=True)

#### ※ `전용면적_미제` 에서 결측치 발견. 네이버 부동산에도 데이터가 없어 삭제. (2개임)

In [13]:
# 전용면적에 결측치 발견(2개)
del_idx = df_jeonwol[df_jeonwol.전용면적_미제.isna()==True].index

# 삭제
df_jeonwol = df_jeonwol.drop(del_idx)
df_jeonwol

,시군구,번지,본번,부번,단지명,전월세구분,전용면적_미제,계약년월,계약일,보증금,월세,층,건축년도,도로명,지역
0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,201401,21,"33,000",0,2.0,1988,언주로 103,서울
1,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,201405,9,"39,000",0,9.0,1988,언주로 103,서울
3,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,201406,24,"35,000",0,9.0,1988,언주로 103,서울
4,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,201407,31,"37,000",0,3.0,1988,언주로 103,서울
5,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,201409,1,"39,000",0,8.0,1988,언주로 103,서울
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3209040,인천광역시 중구 항동7가,Feb-91,91,2.0,연안아파트,월세,53.66,202103,27,300,30,4.0,1983,축항대로 234,인천
3209041,인천광역시 중구 항동7가,Feb-91,91,2.0,연안아파트,월세,53.66,202103,31,100,30,2.0,1983,축항대로 234,인천
3209044,인천광역시 중구 항동7가,Feb-91,91,2.0,연안아파트,전세,53.66,202105,18,"2,000",0,2.0,1983,축항대로 234,인천
3209045,인천광역시 중구 항동7가,Feb-91,91,2.0,연안아파트,월세,53.66,202105,28,200,20,4.0,1983,축항대로 234,인천
3209046,인천광역시 중구 항동7가,Feb-91,91,2.0,연안아파트,월세,53.66,202105,28,300,20,2.0,1983,축항대로 234,인천

### 6. `전용면적_미제`로부터 `전용면적_평` 변수 파생.

In [14]:
# 미터제곱 전용면적을 평수로 바꿔 변수로 저장
def meterToPyeong(df):
    df = df.copy()
    df['전용면적_평'] = df['전용면적_미제'] / 3.305785
    df['전용면적_평'] = df['전용면적_평'].round()
    return df

# 매매, 전월세 데이터에 각각 적용
df_mae = meterToPyeong(df_mae)
df_jeonwol = meterToPyeong(df_jeonwol)

In [15]:
df_jeonwol.isna().sum()

시군구           0
번지         1286
본번          177
부번          177
단지명           0
전월세구분         0
전용면적_미제       0
계약년월          0
계약일           0
보증금           0
월세            0
층             0
건축년도          0
도로명           0
지역            0
전용면적_평        0
dtype: int64

### 7.  `전용면적_미제` 올림처리

In [16]:
def ceilArea(df):
    df = df.copy()
    df['전용면적_미제'] = df['전용면적_미제'].apply(lambda x: ceil(x))
    df['전용면적_미제']

    return df

# 매매, 전월세 데이터에 각각 적용
df_mae = ceilArea(df_mae)
df_jeonwol = ceilArea(df_jeonwol)

### 8. [도로명 주소 안내시스템 사이트](https://www.juso.go.kr/openIndexPage.do)에 들어가 도로명에 맞는 `본번`과 `부번`을 입력. 
- 검색은 직접해야합니다 ㅜㅜ..

In [17]:
# 본번 부번 수정 함수
def fillnaBonBu(df, keyword='매매'):
    df = df.copy()
    
    # 본번이 00A2인 데이터 주소 찾아서 본번, 부번 채워넣기
    df.loc[df['본번']=='00A2', '본번'] = '944'
    df.loc[df['부번']=='00A2', '부번'] = '4'
    df[df['단지명']=='캐슬앤파밀리에시티 2단지']
    
    #  결측치가 3개 밖에 없는데 다 같은 힐스테이트 서초 젠트리스에서 일어남. 따라서 fillna로 채워줌.
    df.본번.fillna('577',inplace=True)
    df.부번.fillna('0',inplace=True)
    df[df['단지명']=='힐스테이트 서초 젠트리스']

    
    # 전월세데이터에는 00A1, 000C 라는 이상값이 있다. 찾아서 수정
    if keyword == '전월세':
        df.loc[df['본번']=='00A1', '본번'] = '1532'
        df.loc[df['본번']=='00A1', '부번'] = '4'
        
        df.loc[df['본번']=='000C', '본번'] = '264'
        df.loc[df['본번']=='000C', '부번'] = '4'

    
    df.본번 = df.본번.apply(lambda x: int(float(x)))
    df.부번 = df.부번.apply(lambda x: int(float(x)))
    return df

# 매매, 전월세 데이터에 각각 적용
df_mae = fillnaBonBu(df_mae)
df_jeonwol = fillnaBonBu(df_jeonwol,'전월세')

### 9. `본번`과 `부번`으로 `번지`를 파생 + `시군구`와 `번지`로 `지번주소` 변수 파생

In [18]:
# 본번과 부번으로 번지수 파생시키는 함수.
def bonbuToBeonji(df):
    df = df.copy()
    df['지번주소'] = 'NaN'
    
    df['본번'] = df['본번'].astype(str)
    df['부번'] = df['부번'].astype(str)

    df.loc[df.부번 == '0', '번지'] = df.본번
    df.loc[df.부번 != '0', '번지'] = df.본번 + '-' + df.부번
    df.지번주소 = df.시군구 + ' ' + df.번지
    
    return df

# 매매, 전월세 데이터에 각각 적용
df_mae = bonbuToBeonji(df_mae)
df_jeonwol = bonbuToBeonji(df_jeonwol)

### 10. 계약년월과 계약일로 `new_Date` 시계열변수와 `quater` 범주형변수 파생.

In [19]:
# 계약년월과 계약일로 시계열변수 new_Date
def newdate(df):
    df = df.copy()
    
    # Series 자료형을 Object로 변경
    df['계약년월'] = df['계약년월'].astype('O')
    df['계약일'] = df['계약일'].astype('O')
 
    l = []                                         # new_Date 데이터를 담을 리스트
    q = []                                         # quater 데이터를 담을 리스트
    for i in range(len(df.index.values)):
        year = str(df['계약년월'].iloc[i])[0:4]    # 년
        month = str(df['계약년월'].iloc[i])[4:]    # 월
        day = str(df['계약일'].iloc[i])            # 일
        
        # new_Date 리스트에 'yyyy-MM-dd' 형태로 데이터 추가
        l.append(year+'-'+month+'-'+day)
        
        # month를 숫자로 바꿔서 부등호조건 활용해서 쿼터 나누고 리스트에 담기.
        month = int(month)
        if month < 4:
            q.append(year+'_1Q')
        elif month < 7:
            q.append(year+'_2Q')
        elif month < 10:
            q.append(year+'_3Q')
        elif month < 13:
            q.append(year+'_4Q')
            
    # 파생변수 new_Date 생성        
    df['new_Date'] = l
    df['new_Date'] = pd.to_datetime(df['new_Date'])    # timestamp 자료형 전환
    
    # 파생변수 quater 생성
    df['quater'] = q
    
    return df

# 매매, 전월세 데이터에 각각 적용
df_mae = newdate(df_mae)
df_jeonwol = newdate(df_jeonwol)

In [20]:
# 번,본,부 에서 생겼던 결측치 확인. 다 채워짐
df_mae.isna().sum()

시군구         0
번지          0
본번          0
부번          0
단지명         0
전용면적_미제     0
계약년월        0
계약일         0
거래금액        0
층           0
건축년도        0
도로명         0
지역          0
전용면적_평      0
지번주소        0
new_Date    0
quater      0
dtype: int64

### 11. `시군구`에서 `자치구_동` 파생

In [ ]:
# 자치구_동을 만드는 함수
def makeDong(df):
    df = df.copy()
    df['자치구_동'] = 'NaN'

    df['자치구_동'] = df['시군구'].str.split(' ').str[3]
    df.loc[df['자치구_동'].isna() == True,'자치구_동'] = df['시군구'].str.split(' ').str[2]

    return df

# 매매, 전월세 데이터에 자치구_동 생성
df_mae = makeDong(df_mae)
df_jeonwol = makeDong(df_jeonwol)

### 12. `거래금액` 백 만단위 수치형 변수로 변환

In [ ]:
# 거래금액 백만원단위로 바꾸기
def changeMillion(df, keyword='매매'):
    df = df.copy()
    if keyword == '매매':
        df['거래금액'] = df['거래금액'].str.replace(',','')
        df['거래금액'] = df['거래금액'].astype(int)
        df['거래금액'] = df['거래금액']/100
        
    elif keyword == '전월세':
#         df['월세'] = df['월세'].astype(str)
#         for i in range(len(df.index.values)):
#             if len(df.loc[i, '월세']) >= 4:
#                 df['월세'][i] = df['월세'][i].replace(',','')
#             else:
#                 continue
#         df['월세'] = df['월세'].astype(int)
#         df['월세'] = df['월세']/100

        df['보증금'] = df['보증금'].str.replace(',','')
        df['보증금'] = df['보증금'].astype(int)
        df['보증금'] = df['보증금']/100
    return df
df_mae = changeMillion(df_mae)
df_jeonwol = changeMillion(df_jeonwol, '전월세')

### 13. `도로명` 컬럼 제거

In [ ]:
# 도로명 제거
def removeDoro(df):
    df = df.copy()
    df.drop('도로명', axis=1, inplace=True)

    return df

df_mae = removeDoro(df_mae)
df_jeonwol = removeDoro(df_jeonwol)

### 14. `시군구`, `단지명`, `전용면적_그룹`로 `id` 변수 파생.
**특정 id 삭제 & 번지수 통일**
- 제거해야할 리스트  
```
'공릉동_삼익아파트_85',
 '관교동_신비마을_50',
 '길동_다성이즈빌_85',
 '부평동_로뎀레뷰_50',
 '부평동_투엠레뷰_50',
 '부평동_서린레이크_50',
 '수암동_엘리지움_85',
 '염창동_이너스내안에_85',
 '장곡동_숲속마을_60',
 '학익동_삼경_48',
 '화곡동_남광아파트_46'
 ```

- 반송동 METAPOLIS -> 96번지로 통일
- 중동 초당마을코아루 -> 1046번지로 통일

**<제거방법>**  
제거 아파트 리스트는 ID 기준을 `자치구_동` + `번지` + `단지명`으로 했을 때 발견한 데이터들이다.  
본 프로젝트에서는 ID를 `시군구` + `번지` + `전용면적`으로 사용하기 때문에, 우선 기존의 ID를 생성하고  
발견했던 ID의 데이터를 제거, 그리고 다시 ID를 바꿔준다.

In [ ]:
# 자치구_동, 번지, 단지명, 전용면적_미제로 id 변수 파생
def makeID(df):
    df = df.copy()
    df['id'] = df.자치구_동 +'_'+ df.단지명 +'_'+ df.전용면적_미제.astype(str)
    return df

df_mae = makeID(df_mae)
df_jeonwol = makeID(df_jeonwol)

In [ ]:
# 해당 리스트에 포함되는 데이터 제거
l = ['공릉동_삼익아파트_85',
 '관교동_신비마을_50',
 '길동_다성이즈빌_85',
 '부평동_로뎀레뷰_50',
 '부평동_투엠레뷰_50',
 '부평동_서린레이크_50',
 '수암동_엘리지움_85',
 '염창동_이너스내안에_85',
 '장곡동_숲속마을_60',
 '학익동_삼경_48',
 '화곡동_남광아파트_46']

df_mae = df_mae[df_mae.id.isin(l) == False]
df_jeonwol = df_jeonwol[df_jeonwol.id.isin(l) ==False]

In [ ]:
# 번지수 변경
df_mae.loc[(df_mae.단지명=='METAPOLIS') & (df_mae.자치구_동=='반송동'), '번지'] = 96
df_mae.loc[(df_mae.단지명=='초당마을코아루') & (df_mae.자치구_동=='중동'), '번지'] = 1046
df_jeonwol.loc[(df_jeonwol.단지명=='METAPOLIS') & (df_jeonwol.자치구_동=='반송동'), '번지'] = 96
df_jeonwol.loc[(df_jeonwol.단지명=='초당마을코아루') & (df_jeonwol.자치구_동=='중동'), '번지'] = 1046

In [ ]:
# 시군구, 번지, 단지명, 전용면적_미제로 id 변수 파생
def makeID(df):
    df = df.copy()
    df['id'] = df.시군구+'_'+ df.단지명 +'_'+ df.전용면적_미제.astype(str)
    return df

df_mae = makeID(df_mae)
df_jeonwol = makeID(df_jeonwol)

# 데이터 저장

In [35]:
dp()
# 사전에 중복 데이터 제거
df_mae.drop_duplicates(inplace=True)
df_jeonwol.drop_duplicates(inplace=True)
dp()

(2034898, 18)

(2871564, 20)

(2034254, 18)

(2800639, 20)

In [36]:
from datetime import datetime

# 오늘 날짜
today = datetime.today().strftime("%m월%d일%H시%M분")

# '데이터_날짜' 형태로 csv 저장
df_mae.to_csv('data/MasterMotherTable/df_mae_'+ today +'_1421.csv', index=False, encoding='utf-8-sig')
df_jeonwol.to_csv('data/MasterMotherTable/df_jeonwol_'+ today +'_1421.csv',index=False, encoding='utf-8-sig')